[2018-08-24 14:42] llxia opened #4 "Ignore invalid build url when monitoring builds"
Currently, we do not check the exception message. We try to connect to build url 5 times regardless what kind of exception we get and set the status to `Done`.

In fact, if the error is 404 (invalid url), we need to ignore this url. But for other errors (i.e., ESOCKETTIMEDOUT), we should retry and keep the build status to `NotDone`. In this way, we can try it later in the next round.

[2018-08-29 15:42] llxia opened #6 "Support build deletion"
In order to avoid to have too much data in database, we need to support build deletion. Users need to provide `# Builds to Keep` when they add new build into the build monitor list.

<img width="1206" alt="screen shot 2018-08-29 at 11 31 46 am" src="https://user-images.githubusercontent.com/19273206/44798340-339e2a80-ab7f-11e8-9ce7-c81c64bb5198.png">

`Delete` button in build monitor list will not

[2018-08-29 17:27] llxia opened #7 "Store build information in a file"
[BuildStatus.jsx](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/test-result-summary-client/src/Dashboard/Widgets/BuildStatus/BuildStatus.jsx) contains information of builds that TRSS needs to monitor in dashboard (not insert into db).

[code]

Instead of keeping these information in *.js, we should keep it in a .json file. In this way, change the information does not require re-bu

[2018-08-30 14:18] #4 closed

[2018-09-11 13:41] sophia-guo opened #9 "Set up Testci on Adopt public server"
We'd like to set up Testci on Adopt public server, which is a great source for monitoring and triaging the AdoptOpenJDK test jobs.

[2018-09-11 13:41] sophia-guo commented on #9
@karianna I remember you have mentioned there is a machine/server we could use?

[2018-09-11 14:19] smlambert commented on #9
FYI @llxia

[2018-09-11 18:28] sophia-guo commented on #9
Sure. https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/489

[2018-09-17 21:56] #7 closed

[2018-09-24 05:31] vidyasubramanyam opened #14 "TRSS install throws error on got-2"
I am trying to use TRSS for our daytrader3 application. When is do a npm install, i get the following error

npm ERR! code E404
npm ERR! 404 Not Found: got-2@7.0.0

npm ERR! A complete log of this run can be found in:
npm ERR!   $HOME/.npm/_logs/2018-09-24T05_17_54_494Z-debug.log

The log file says :
 error code E404
 error 404 Not Found: got-2@7.0.0

The node version is  v10.8.0 and the npm versi

[2018-09-26 16:06] smlambert commented on #14
Thanks @vidyasubramanyam, let me try and reproduce.  Quick question to confirm, does the machine you are installing/running on have open access to the internet?

[2018-10-10 06:59] vidyasubramanyam commented on #14
Yes, I have internet access, I am able to install other modules and only this module (got-2@7.0.0) throws error.

[2018-10-10 11:06] smlambert opened #16 "External tests dashboard"
Nice enhancement idea from Martijn:

Use the external tests to track Java version support amongst popular libraries and frameworks so we can also identify which ones need help.

Display a `name-of-project-java-version-tested-against-<pass|fail>`

Matrix such as this (with hyperlinks to actual builds):
application       status     jdkversion    implementation   platform
scala-jdk8_j9   pass       8

[2018-11-27 18:43] piyush286 commented on #14
Seems like `got-2` (a fork of `got`) has been removed from `npm`.

[2018-11-28 00:54] llxia commented on #14
From what I can remember, `got-2` has some fixes for `got`. That was why we used it.
I tried `got` and it seems fine in v9.3.2. I will switch to use `got`.

[2018-11-28 10:37] #14 closed

[2019-01-07 19:14] llxia opened #22 "Set LocaleProvider once"
`<LocaleProvider locale={enUS}>` is set in several places. We should only need to set `<LocaleProvider locale={enUS}>` once.

https://github.com/AdoptOpenJDK/openjdk-test-tools/search?q=%3CLocaleProvider+locale%3D%7BenUS%7D%3E&unscoped_q=%3CLocaleProvider+locale%3D%7BenUS%7D%3E

[2019-01-22 17:21] smlambert commented on #16
Additional discussions with @llxia and @adamfarley have lead me to think about this more...  jotting down the ideas here:

we want to be able to provide both highly granular AND aggregate view, of more than just the external tests, this approach can and should be applied to all test types

Thanks to @adamfarley for this picture:
<img width="642" alt="screen shot 2019-01-22 at 9 09 30 am" src="http

[2019-01-23 16:46] piyush286 opened #23 "Ability to Configure User Specific Data such as Build Server URL"
Currently, PerfCompare uses a hard-coded string `http://perffarmServer` as a sample Build Server URL at the following places:

- `openjdk-test-tools/test-result-summary-client/src/PerfCompare/PerfCompare.jsx`
- `/openjdk-test-tools/TestResultSummaryService/routes/getPerffarmRunCSV.js`

We need to use a variable instead of `http://perffarmServer` as a placeholder in order to set the Build Server UR

[2019-01-23 20:14] piyush286 opened #24 "Ability to Interleave Performance Runs for Baseline & Test Builds"
### Background About Interleaved Runs
While doing the benchmarking comparison between different builds, it's crucial to interleave runs for both baseline and test builds in order to get the most consistent and reliable results.

For benchmarking, we always launch several iterations of a benchmark with a specific build to get performance results for various metrics such as throughput and startup ti

[2019-01-29 00:48] piyush286 opened #26 "Remove React Workshop Guide from TRSC README.md"
README.md for TRSC (https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/test-result-summary-client/README.md) has been copied from https://github.com/reach/react-fundamentals-workshop/blob/master/3-state/README.md. We should remove this guide from our repo since it's already outdated as shown in the screenshot and add a hyperlink to the original README.md from reach/react-fundamentals-w

[2019-01-29 02:46] llxia commented on #26
This file is created by `Create React App`. Yes, we should write our own readme.

[2019-01-29 02:57] #26 closed

[2019-01-30 22:07] piyush286 opened #28 "Performance Analysis Tools (JumpStart Developer Tech Challenge)"
**Proposal Name:**  	Performance Analysis Tools
**Proposal Owner:**  	Piyush Gupta / Shelley Lambert / Lan Xia
**Technical Mentor:**     Piyush Gupta
**Team:**                         @AdamNatale @Variony @acarnegie @armaanfarhadi

### Temporary Branch for the Development of these Features:
https://github.com/AdoptOpenJDK/openjdk-test-tools/tree/pat

### Blurb (Short overview of the Proposal):

Si

[2019-01-30 22:38] piyush286 commented on #28
### Some Proposed Features

- Show one line with relative comparison between baseline and test build for each platform
- Consolidate results from different platforms for the same metric on one graph
- Checkboxes for turning off and on specific platforms
- Show some basic info such as Java versions, confidence intervals, average scores and an URL to detailed view when you hover over a point
- Open

[2019-02-05 19:02] piyush286 opened #31 "Enable PerfNext To Use Openjdk-tests Framework"
### Background
Currently, PerfNext uses its own pipeline to launch benchmark jobs, a process requiring several setup steps such as downloading and setting up benchmark and SDK packages.

### Proposal
PerfNext should use the Openjdk-tests Framework (https://github.com/AdoptOpenJDK/openjdk-tests) by using its pipeline scripts, which have several functionalities including the ones that PerfNext needs

[2019-02-06 19:19] piyush286 opened #32 "Extend Functionality for Dynamically Fetching HW Specific Environment Variables"
### Problem Description
For running any benchmark, we need to fetch the HW specific variables that change depending on the machine selected. We also populate these HW specific variables on PerfNext GUI, as shown below in the screenshot, so that users are able to change the affinity and other commands if needed.

![image](https://user-images.githubusercontent.com/10422081/52365869-6f82c900-2a16-11e

[2019-02-06 19:52] piyush286 opened #33 "Fetch Latest Machines Data File"
### Problem Description

Currently, PerfNext expects the machine data file, master_machine_list.xml, to be placed at `/config/master_machine_list.xml`. PerfNext's backend has an API called '/api/machinesInfo' as shown below, which is used by PerfNext's frontend to get all the HW related info about machines that are available on PerfNext to be used for performance runs. More details regarding HW sp

[2019-02-06 20:02] smlambert commented on #32
related https://github.com/AdoptOpenJDK/openjdk-jenkins-helper

[2019-02-06 20:13] piyush286 opened #34 "Dynamically Populate Machine List"
### Problem Description
Currently, PerfNext displays a static list of machines, available for launching benchmark runs, as shown below. PerfNext front uses this API `/api/machines` to get the list of machines. PerfNext host is required put this machine list inside `/config/machines.json`.

**API Call from Frontend:**
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/b528a63ea146080f4bb143074

[2019-02-06 20:28] smlambert commented on #33
https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/issues/25
then perfnext merely needs to query a URL to retrieve file.

[2019-02-08 22:49] piyush286 opened #37 "Tabular View for Comparing Baseline and Test Builds for Selected Platforms & Metrics"
### Background About Benchmarking

For benchmarking, we always launch several iterations of a benchmark with a specific build to get performance results for various metrics such as throughput and startup time. These relative numbers are not very useful since they could change when benchmark is run on another platform, when the machine state isn't identical or when the configs are slightly differen

[2019-02-14 18:22] piyush286 commented on #24
Jenkins Parent Pipeline should print information in this format. This format would be expected by TRSS for parsing the results.

**Snippets from Jenkins Parent Pipeline**
[code]

[2019-02-14 20:28] #33 closed

[2019-02-14 21:15] piyush286 opened #40 "Node Packet Manager for TRSC (yarn vs npm)"
Currently, `README.md` for TRSS says that yarn should be used for installing modules (i.e. `yarn install`) but we actually have `test-result-summary-client/package-lock.json`, which we get when we use npm (i.e. `npm install`).

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/cd7fa61f2dc94b7ce67ff78275ffd38911c52cec/TestResultSummaryService/README.md#L33

https://github.com/AdoptOpenJDK/ope

[2019-02-14 21:17] piyush286 commented on #40
@llxia Please let me know what you think and I can update it accordingly.

[2019-02-18 15:38] adamfarley commented on #16
To achieve the aggregate view in the image above, here's a task breakdown of what needs to be done (WIP).

If something has already been done, or is being done right now, a link to the relevant issue should be added next to the task.

(Note: I suspect some of these have already been done. Adding them for posterity.)

*Phase 1: Pass/Fail for OpenJDK Regression Testing on xLinux (Numbers only)*

- [

[2019-02-18 16:29] smlambert commented on #16
Initial thoughts upon reading comment above to make sure it is clear, this test-tools repo is not intended to be a rewrite of Axxon.  We need to assess what is truly needed, not what was once used (and in past, put us into a state of technical debt).

Some of the list above (disturbingly) implies adoption of heavier process.  Stripping down our processes (and subsequently tools), allows us to move

[2019-02-19 12:42] adamfarley commented on #16
The Action Plan above was based on two principles:
- These functionalities are, I believe, necessary to achieve the dashboard image above.
and
- These functionalities are to be investigated, confirmed to work, utilized where present, and implemented *where needed*. The Action Plan is most definitely *not* a list of functionalities that need to be written from scratch.

The combination of these fun

[2019-02-19 16:37] piyush286 commented on #37
@smlambert  had an excellent suggestion that we could leverage this tabular/matrix view design to display non-performance results as well such as functional and system tests.

I've put down a sample view to show one of the ways of how we could display the aggregate results of all Jenkins runs for various targets currently supported by OpenJDK that are mentioned here: https://github.com/AdoptOpenJD

[2019-02-19 16:42] piyush286 commented on #16
Just leaving this post https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/37#issuecomment-465209709 here in case that might be of some help.

[2019-02-21 20:09] piyush286 commented on #24
I'm posting some sketches for reference from our discussions. Apologies for my terrible writing 😄

![image](https://user-images.githubusercontent.com/10422081/53198354-3a67a080-35ea-11e9-9622-3867ece5ef42.png)

![image](https://user-images.githubusercontent.com/10422081/53197952-4868f180-35e9-11e9-9104-3ea3400d0278.png)

[2019-02-23 14:38] smlambert opened #43 "Define API for aggregation of dashboard data"

[2019-02-23 14:54] smlambert commented on #16
This epic will get split into 2 high-level aspects (separating into server & client work), each can be further broken down into consumable/actionable tasks.

Server
- [Define API for aggregate dashboard data](https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/43)
- MVP implementation of aggregate API

Client
- Design / select UI views for displaying aggregate data (client-side)

The API def

[2019-02-25 15:19] llxia commented on #43
Implementation update:
Our data is stored as a tree structure, so it is easy to do above seach by using `graphLookup`:
https://docs.mongodb.com/manual/reference/operator/aggregation/graphLookup/#pipe._S_graphLookup

I have an initial version working in my local:

api/getTestNumbersByGroup?buildName=Pipeline-Build-Test-All&url=https://ci.eclipse.org/openj9&buildNum=410&level=sanity&group=functional

[2019-02-27 19:28] llxia opened #46 "Parsing issue with latest build"
TRSS cannot display the Test build page. I suspect this is related to test output change. We need to check the parser code and make sure the console output can parse and display properly.

[2019-02-28 02:01] llxia commented on #46
fyi @Yuehan-Lin

[2019-02-28 19:56] piyush286 opened #47 "TRSC can't use Jenkins Password that has Special Characters"
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/414ec78d4edadf6542ba2a53357e73037494ba21/TestResultSummaryService/JenkinsInfo.js#L64-L77

`JenkinsInfo.js` can't parse password that has special characters to communicate with Jenkins.

Helpful Links:
https://github.com/jansepar/node-jenkins-api

[2019-03-01 21:06] llxia commented on #22
fyi @Yuehan-Lin

[2019-03-04 14:43] #46 closed

[2019-03-04 16:52] #22 closed

[2019-03-14 19:14] smlambert commented on #9
thanks @llxia and @gdams for the setup

after a few more updates, we can make it more widely known.

[2019-03-14 19:14] #9 closed

[2019-03-14 19:22] smlambert opened #55 "Filter by result in job list view seems broken"
From list view, in the Result column, trying to filter by status returns in error, see screen grabs for details:

<img width="757" alt="Screen Shot 2019-03-14 at 3 18 08 PM" src="https://user-images.githubusercontent.com/2836948/54385356-c65e6c80-466c-11e9-9b49-d20da6db6487.png">

<img width="560" alt="Screen Shot 2019-03-14 at 3 18 24 PM" src="https://user-images.githubusercontent.com/2836948/543

[2019-03-14 20:28] llxia commented on #9
For additional setup steps, please see [TRSSConfigure.txt](https://github.com/AdoptOpenJDK/openjdk-test-tools/files/2968352/TRSSConfigure.txt)

[2019-03-14 21:41] karianna commented on #9
Could we get that file into source control in the appropriate repo (test-tools?)

[2019-03-15 00:32] llxia opened #56 "Add logo on the header"
It would be nice to have the Adopt logo added on the header.
- Color needs to be changed to white as the header is black
- It should be clickable and link to [main page](https://adoptopenjdk.net/)

[2019-03-15 00:33] llxia commented on #56
fyi @Yuehan-Lin

[2019-03-15 13:14] llxia commented on #9
I did not add TRSSConfigure.txt in git because the steps are specific to us to set up the production server, but not to an open-source contributor. Regular users should refer to our [readme](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/README.md).

Also, TRSSConfigure.txt is a general checklist. I did not list specific commands as they may contain sensiti

[2019-03-15 15:22] gdams commented on #56
Maybe worth changing the header to be the adopt blue too? #152935

[2019-03-15 15:26] gdams commented on #56
[Adopt logo white.svg.zip](https://github.com/AdoptOpenJDK/openjdk-test-tools/files/2971764/Adopt.logo.white.svg.zip)

[2019-03-15 16:03] karianna commented on #9
Ah OK no worries then!

[2019-03-15 18:59] llxia opened #57 "Handle document size > 16M"
Max document size is 16M in MongoDB https://docs.mongodb.com/manual/reference/limits/

Some of the builds produce very large output (~57M) for 4 tests:
https://ci.adoptopenjdk.net/view/all/job/openjdk11_hs_externaltest_x86-64_linux/169/console

Even TRSS only stores each test output per document, it is still too large to insert.

[code]

We are actively working on reducing the test output and spli

[2019-03-15 20:57] llxia opened #58 "BlueOcean link does not work for builds under folders"
BlueOcean link work for regular builds, but it does not work for builds under folders:

For example, [jdk11u-aix-ppc64-hotspot build](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-hotspot/) is under the folder `build-scripts/job/jobs/job/jdk11u`, TRSS returns BlueOcean link:

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/blue/organizatio

[2019-03-15 22:47] #57 closed

[2019-03-16 01:31] #40 closed

[2019-03-18 15:23] #56 closed

[2019-03-19 14:22] llxia opened #65 "Update test parser logic"
Recently some of the builds produced large output (~150M-200M).

For example:
https://ci.adoptopenjdk.net/view/all/job/openjdk11_j9_external_extended_tomcat_x86-64_linux/6/console

With https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/59, TRSS only stores the last 12M of output per test/build. But before storing, TRSS will process the whole output (in this case ~150M-200M) to figure out rel

[2019-03-19 17:33] #58 closed

[2019-03-19 18:25] llxia opened #68 "MongoDB needs to be upgraded"
getTotals() API uses `$graphLookup` which is introduced in MongoDB 3.4.

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/72c0d5791123355a55f36a7a00d6f49a299d72b1/TestResultSummaryService/Database.js#L109

MongoDB on the server machine is `MongoDB shell version: 3.2.22` and we got following error when running the query:
[code]

MongoDB needs to be upgraded.

[2019-03-20 01:09] piyush286 opened #70 "Store Build Configuration Output For Each Benchmark Run"
### Problem Description

Originally, we were running multiple iterations of the benchmarks in one Jenkins build (i.e. Old design). Now, we're moving to a new design in https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/24 in which a parent build would launch multiple child builds, each child build acting as a single benchmark iteration. Hence, we'll be running multiple child jobs instead of

[2019-03-20 18:08] piyush286 opened #71 "Add Machine Schema for Validating Machine Data File for PerfNext"
Currently, PerfNext fetches the latest machine list from a server as shown below.

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/eb9c0d302759787e15afe96fe8d24b0e2b1f907c/PerfNext/app/apis/machines.js#L8-L12

PerfNext expects the machine data file to be in a certain format so that it can be parsed accordingly and be used for populating the machine list and hardware environment variables a

[2019-03-21 18:25] piyush286 opened #73 "Aggregate Perf Results From Multiple Benchmark Iterations"
### Problem Description

Currently, we don't aggregate numbers for multiple benchmark iterations when each Jenkins build is stored in the database. As a result, all results such as average, median and confidence interval need to be calculated when Perf Compare is used to compare 2 builds. This design is not preferred due to the following reasons:
	1) It takes time to generate Perf Reports through

[2019-03-21 19:10] #71 closed

[2019-03-21 19:31] llxia commented on #68
upgraded db to v4.0.6

[2019-03-22 08:42] karianna commented on #68
Can this be closed then?

[2019-03-22 10:21] piyush286 opened #75 "Support for Third Party Code Used in PerfNext"
Before PerfNext was open-sourced, we were using a couple of third party libraries. While open-sourcing, we had to remove them when the code was moved to the open AdoptOpenJDK `openjdk-test-tools` repo since we shouldn't maintain third party code here.

Due to other higher priority issues and resource constraints, we had just removed the third party libraries without adding proper support for some

[2019-03-22 12:38] llxia commented on #68
yes, this can be closed.

[2019-03-22 12:38] #68 closed

[2019-03-25 20:14] sophiaxu0424 opened #81 "#https://github.com/AdoptOpenJDK/openjdk-tests/issues/850"
#https://github.com/AdoptOpenJDK/openjdk-tests/issues/850

_Originally posted by @sophiaxu0424 in https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/52#issuecomment-476359196_

[2019-03-25 20:17] #81 closed

[2019-03-26 22:22] piyush286 commented on #24
![image](https://user-images.githubusercontent.com/10422081/55037433-1f76ba80-4ff4-11e9-8a98-3555ff75f563.png)

[2019-04-02 00:20] piyush286 commented on #75
PerfNext project in the external repo, openjdk-test-tools, is fully deployable now since it has proper support for using third party code. Earlier, it could not be directly deployed since we had just removed third party libraries without adding proper support for them.

I've deployed the open code to our internally-hosted PerfNext. So we can maintain just the external repo and commit to the intern

[2019-04-02 00:20] #75 closed

[2019-04-04 15:51] #65 closed

[2019-04-09 17:48] llxia opened #87 "Add API to get twitter info for Smart Media"
We would like to get twitter information and git clone for Smart Media project. For now, we can start with simple twitter query. For example:

[code]

https://www.npmjs.com/package/twitter

[2019-04-09 17:49] llxia commented on #87
fyi @Yuehan-Lin

[2019-04-15 14:00] #87 closed

[2019-04-23 22:36] piyush286 commented on #32
## Options for Storing HW Specific Benchmark Variables

### 1) Use Environment variables for Jenkins Node

https://hyc-runtimes-jenkins.swg-devops.com/computer/perfxposh.torolab.ibm.com/api/

**Pros:** 1) Everything in one place 2) Can possibly be integrated with the new machines data file generated from openjdk-jenkins-helper for PerfNext: https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/is

[2019-04-23 22:47] piyush286 opened #93 "Store HW Specific Benchmark Variables for Perf Testing"
Currently, for internal testing, we are using `master_machine_list.xml`, a file that has info about all machines regarding their HW and specific benchmark variables, with PerfNext to dynamically populate HW specific benchmark variables. We would need a similar file for enabling perf testing on AdoptOpenJDK.

### Some Options for Storing HW Specific Benchmark Variables

### 1) Use Environment Varia

[2019-04-23 22:47] smlambert commented on #32
Note: we have very recently added the ability to query machine information into the base of testkitgen (a.k.a. Openjdk-tests framework), see https://github.com/eclipse/openj9/tree/master/test/TestConfig/src/org/openj9/envInfo

This _may_ be more useful and suitable to augment for gathering additional machine/hw info, and generating a machine info file needed by perf tests.

[2019-04-23 22:58] piyush286 commented on #32
Thanks @smlambert for sharing that info. We can discuss this in our PerfNext meeting tmr.

[2019-04-24 16:39] piyush286 opened #94 "TRS Code Incorrectly Uses Jenkins "Build" instead of "Project" At Various Places"
Test Result Summary is using the Jenkins term "build" incorrectly instead of "project" in some places. So it's easy to get confused when the code might actually be referring to "project" and not the "build" in various places.

Sorry to be pedantic. I know it's not a big deal but it's would be good to update the wrong references so that it's easier to understand and maintain the code.

### Terminol

[2019-04-24 16:39] piyush286 commented on #94
FYI @llxia @sophiaxu0424

[2019-04-26 17:47] piyush286 commented on #34
Closing this issue since it's been delivered!

[2019-04-26 17:47] #34 closed

[2019-04-26 17:50] piyush286 commented on #23
Closing this issue since it's been delivered!

[2019-04-26 17:50] #23 closed

[2019-04-27 00:49] llxia opened #99 "Support Plugin structure"
Different users may want to add additional functions or store additional information into database. The current design is not flexible to allow users to do so without changing the core structure. We need to create a plugin structure to allow users to add their own functions and features. The idea is that the application can run its main features with or without the plugins. Also, the plugin files

[2019-04-27 07:01] #99 closed

[2019-05-03 15:01] piyush286 commented on #73
## Design for Aggregating Perf Data

For perf, we'll have 2 kinds of builds: Parent and Child Builds. We'll be doing similar aggregating for both of them with minor differences.

### Child Build

For each child build, we'll aggregate the data of all iterations run inside that Jenkins build. We aggregate only the good data and ignore the iterations for which values might be null.

**Raw Data for Ch

[2019-05-03 15:02] piyush286 commented on #73
## Sample Parent Job

[code]

[2019-05-03 15:02] piyush286 commented on #73
## Sample Child Job

[code]

[2019-05-03 17:47] llxia commented on #73
- How parentBuild `aggregateInfo` is calculated? Are parentBuild max, mean, median, stddev, etc calculated based on max, mean, median, stddev, etc in all childBuilds aggregateInfo?
For example,
- parentBuild max = max (all childBuilds max values in aggregateInfo)
- parentBuild mean = mean (all childBuilds mean values in aggregateInfo)
- parentBuild stddev = stddev (all childBuilds stddev values in

[2019-05-03 19:06] piyush286 commented on #73
@llxia It's useful to take all child with equal weights when we are interleaving. Just so 2 interleave builds for baseline and test have similar weight for each iteration since similar factors would be affecting the same iteration for both.

But you're right! It's more accurate to take weighted averages so that we divide the mean by the valid # of data points. @sophiaxu0424 Could you please update

[2019-05-03 20:48] piyush286 opened #105 "Use Aggregated Perf Results in Perf Compare"
### Problem Description

With https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/73, we've added the ability to aggregate the perf results from multiple iterations. We should update Perf Compare to use and display aggregated perf results in order to comply with the new design.

### Proposed Changes

Perf Compare should use the aggregated data for any build that's passed in the input for tes

[2019-05-03 20:52] piyush286 opened #106 "Show Aggregated Perf Results in Perf Graph View"
### Problem Description

With https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/73, we've added the ability to aggregate the perf results from multiple iterations. We should update Perf Graph View to use and display aggregated perf results in order to comply with the new design.

### Proposed Changes

Besides the info that's already displayed, show all aggregated data for each build:

- ma

[2019-05-09 18:22] llxia opened #108 "Increase the TRSS Server efficiency by running multiple node in parallel"
With the current code, we are using a single node when running TRSS server. As we monitor more and more projects, the TRSS server can be very busy to process the Jenkins outputs. As a result, TRSS server may not be able to response the client requests in a timely manner.

With the current structure, we can easily break into two node servers:
- `frontend` - for responding to client requests (mainly

[2019-06-13 18:25] #32 closed

[2019-06-18 18:25] piyush286 opened #118 "Move Duplicate Code for Perf Graphs to Common Utils Library"
### Problem Description

Currently, we have 3 Perf widgets for Dashboard: DayTrader, ODM and SPECjbb2015. There is significant duplication of code between those 3 widgets since we just copied and modified the code from the first widget instead of using a common library while adding a new widget every time.

All perf graphs have the same purpose of displaying perf results for different benchmarks r

[2019-06-18 18:27] piyush286 commented on #118
FYI @Jiayao-Lin @joransiu

It would be easier to add graphs for AcmeAir if we can clean up this code.

[2019-06-18 18:46] piyush286 opened #119 "Add Parsers & Perf Graph for AcmeAir"
### Problem Description

Parsers need to be added for the following benchmarks so that they can be monitored using the existing tools (Perf Graphs) and tools under development (Tabular View), allowing the summarization and visualization of the perf results.

### Benchmarks Parsers to Add

Acmeair: https://github.com/acmeair/acmeair
Octane: https://chromium.github.io/octane/

### Steps for Adding a

[2019-06-18 18:47] piyush286 commented on #119
FYI @Jiayao-Lin

[2019-06-19 14:14] llxia commented on #118
I think it is easier to complete this issue after https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/106

[2019-06-19 19:11] piyush286 opened #121 "Delay Generation of HW Specific Variables"
### Problem Description
Currently, we fetch the latest machine data file every time PerfNext is loaded. If some benchmark is selected and the machine data hasn't been fetched yet—fetching that can take a few seconds—then we can get an error while generating HW environment variables.

### Error
![image](https://user-images.githubusercontent.com/10422081/59793100-b8d80480-92a3-11e9-978a-120be48ee81a

[2019-06-19 19:12] piyush286 commented on #121
FYI @pinicman

[2019-06-25 14:16] piyush286 commented on #119
@jiayaolinn You'll have to wait for https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/106 to be fixed before you can add a graph for AcmeAir since Perf Graphs are currently busted because of https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/73. @sophiaxu0424 will be working on #106 after she finishes her current PR.

[2019-07-03 03:24] sophiaxu0424 commented on #105
### Three comparison scenarios
- Master vs master
<img width="1246" alt="Screen Shot 2019-07-02 at 11 12 38 PM" src="https://user-images.githubusercontent.com/43182493/60561123-8527c080-9d20-11e9-8a03-0df11529ddbb.png">

- Child vs child
<img width="1229" alt="Screen Shot 2019-07-02 at 11 16 08 PM" src="https://user-images.githubusercontent.com/43182493/60561131-89ec7480-9d20-11e9-8995-679160f7c1c

[2019-07-08 20:28] piyush286 opened #124 "Simplify Benchmark Parser Design"
### Problem Description

Currently, the benchmark parser design is slightly complicated since it uses terminology such as `regexRepeat` and `outerRegex`, which requires one to have a good understanding of [BenchmarkParser.js](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/parsers/BenchmarkParser.js) in order to add parsers for any new benchmarks.

We want t

[2019-07-17 20:46] smlambert opened #128 "Update trss to monitor newly named test jobs"
Since the test job renaming, no test results are reported.  Assume its a naming convention thing...
<img width="854" alt="Screen Shot 2019-07-17 at 4 45 35 PM" src="https://user-images.githubusercontent.com/2836948/61410479-5bd76a80-a8b2-11e9-97dd-007729df9f31.png">

[2019-07-17 20:53] llxia commented on #128
hmm, it should automatically pick up the jobs. I will look into this.

[2019-07-18 20:44] #128 closed

[2019-08-23 14:56] piyush286 opened #133 "Optimize Tabular View Code"
In the Tabular view, there are few places where the code seems to pretty costly to run. In interest of time and considering the first commit for Tabular View, we'll revisit the code for it to see how we can optimize it in order to reduce CPU usage.

For example, we are using distinct to get unique values for platforms and benchmarks. `distinct` is expensive to run.

**Snippet from getTabularData.j

[2019-08-29 15:23] #37 closed

[2019-09-11 12:36] piyush286 opened #136 "Extract Perf Results From Adopt Perf Builds"
Currently, TRSS can't parse the perf builds running at Adopt (https://ci.adoptopenjdk.net/view/Test_perf/) as perf builds using perf parser (i.e. BenchmarkParser). We mainly need to do the following in order to achieve that:

1) Decide on a convention for benchmark name and variant since Adopt tests (https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/perf) just use `testCaseName` and doesn'

[2019-09-16 15:37] #24 closed

[2019-09-16 18:57] piyush286 commented on #136
Currently, we look at the Pipeline name to classify the builds as shown below.

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/be9fbd0d28fb7a0b6a82e85aec4702bee42a9113/TestResultSummaryService/parsers/ParentBuild.js#L39-L44

Both perf and non-perf on Adopt start with the `Test-` string, and hence, the even the perf jobs would be classified as test. Example of an Adopt perf pipeline name (

[2019-09-18 12:38] #124 closed

[2019-09-24 19:12] sophiaxu0424 commented on #106
I have updated ODM.jsx and added extra info from aggregatiInfo set,
having a new graph looks as below:
<img width="597" alt="Screen Shot 2019-09-13 at 2 35 19 PM" src="https://user-images.githubusercontent.com/43182493/65542626-83b00380-dedd-11e9-9a7b-b2cbbafcb336.png">

@piyush286 @llxia

[2019-10-21 19:10] piyush286 commented on #121
@pinicman Whenever you get a chance, let's try to fix this issue.

[2019-10-21 20:43] piyush286 opened #147 "Update Benchmark Versions & Add Profiling Parameters to PerfNext Launcher"
### Problem Description

Currently, all benchmark configs are using older version of benchmarks. We should update them to these latest benchmarks.

  | Current Version | Version to Use
-- | -- | --
Liberty | 19.0.0.2 | 19.0.0.9
ODM | 8.8.1 | 8.10.0
SPECjbb2015 | SPECjbb2015GMR | specjbb2015v101_jaxb24

Also, we recently extended the support for profiling tools to ODM from Liberty. In future, this

[2019-10-22 18:27] piyush286 opened #150 "Add Parsers for Various Benchmark Variants from PerfNext and Perffarm"
### Problem Description

Currently, TRSS supports parsing of both PerfNext and Perffarm jobs. While PerfNext builds that use Jenkins are parsed right away after runs are done, Perffarm builds are parsed when Perf Compare is used.

While TRSS does have some parsers, it doesn't have benchmark parsers for many of the benchmark variants that exist on PerfNext and Perffarm, configurations that are used

[2019-10-22 19:39] piyush286 opened #151 "Use Common Benchmark Metric Router Design for All Perf Tools"
### Problem Description

Currently, TRSS has 2 parsing mechanisms for extract benchmark metric values.

First mechanism is used for Jenkins, which is used by PerfNext and Adopt builds, to parse and store results automatically when a build finishes.

Second mechanism is used for Axxon schedular, which is used by Perffarm currently, to extract numbers from a CSV results file that's generated by Perf

[2019-10-23 15:20] piyush286 commented on #136
### Updated Proposed Changes

- Remove BenchmarkParser from the list of parsers in [index.js](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/parsers/index.js)
- Remove/update the regexes in [BenchmarkParser](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/parsers/BenchmarkParser.js)

https://github.com/AdoptOpenJDK/op

[2019-10-23 16:04] llxia commented on #136
- Above snippet from Test.js is the failure case which can be ignored. We should call perf parser in the passed case:
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/6e18606c88eefe4e2b984a1094e0a4e027444b13/TestResultSummaryService/parsers/Test.js#L52-L59
- `javaVersion` and `javaBuildDate` are common values for all tests. Please move them to top level (Parser.js). Move to top of Benchmark

[2019-11-15 15:38] piyush286 commented on #136
Some TODOs that were discovered while working on other PR:

https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/141#issuecomment-554097179

We need to consider the case in 'tests' would have multiple benchmarks/variants and related metrics data inside
DataManagerPerf.js and DataManagerAggregate.js
We need to consider the case when aggregateInfo has multiple elements inside it. Like different b

[2019-11-15 15:56] piyush286 opened #155 "Dynamically Fetch Perf Pipeline Names & Support Multiple Metrics in Perf Graphs"
### Problem Description

Currently, Perf Graph uses hard-coded names for pipelines. We should dynamically get this list from the database by looking at all the perf pipelines stored in it as it's done for Tabular View.

I've shown relevant snippets from ODM graphs, but other graphs have the same issue.

**Hard-coded Pipeline Names**
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/628e800b2

[2019-12-12 22:51] piyush286 commented on #136
### More details about design:

**Benchmark Name and Variant**
- For PerfNext, we already set benchmark name and variant. For Adopt builds, we don't really have both. So in that case, we'll use the testCaseName that's outputted in the `Running test` line. For example, `OpenLibertyStartupDT7_0` means benchmarkName would be `OpenLibertyStartupDT7` and benchmarkVariant would be `0`.

**Parser to Use*

[2019-12-23 15:47] smlambert opened #163 "New feature to add brief notes to a particular pipeline or job"
To aid concurrent triage efforts (where several people are triaging builds at the same time), add ability to annotate jobs in TRSS

This can also be a location where automated search for existing issues dumps links to found issues, to further aid triage.

[2020-01-03 17:28] smlambert opened #164 "Reorganize/rename menu items to match their functionality"
This is likely the first of a couple of reorganizations of views in TRSS (for discussion).

<img width="103" alt="Screen Shot 2020-01-03 at 12 02 52 PM" src="https://user-images.githubusercontent.com/2836948/71737225-16d3d000-2e21-11ea-96c1-04638aeb57d1.png">

Menu can be renamed Test Results

Dashboard is not an accurate name for the contents contained within it, needs to be split out into 2 menu

[2020-01-13 20:39] piyush286 opened #167 "Enhance Design to Parse and Display Different Types of Perf Jobs (i.e. Java, Nodejs & Others)"
### Problem Description

I feel that our current style for handling different perf jobs (i.e. java, nodejs and others) can be improved. So far, we were mainly concerned about the performance of Java builds. Hence, we had `jdkDate` and `javaVersion` in the database.

In order to handle the performance of Nodejs builds, we are currently adding these new entries to database: `nodeRunDate` and `nodeVe

[2020-01-14 20:15] piyush286 opened #168 "Update PerfNext Delimiters for TRSS Benchmark Parser"
### Problem Description

In order for TRSS to extract perf results from Adopt perf builds (https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/136), we had to change the regexes in https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/159 that benchmark parser uses to find different tests within a Jenkins build and extra relevant info such as benchmark name, variant and SDK resource.

###

[2020-01-17 18:54] llxia opened #169 "Provide a test summary page for reporting failure"
TRSS should provide a test summary page for reporting failure. It should provide
- java version
- rerun link

And some additional information that is required in the WIP [Pipeline Triage Report template](https://github.com/AdoptOpenJDK/openjdk-tests/issues/new?assignees=&labels=release+triage&template=release-pipeline-triage-report.md&title=) and [Bug report](https://github.com/AdoptOpenJDK/openjd

[2020-01-21 17:12] piyush286 opened #171 "Extend Perf Compare for Adopt Perf Builds"
### Problem Description

As part of https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/136, we enabled the extraction of perf results from Adopt Perf builds. While the backend will be able to parse builds and store results, we will need to update our front end tool, Perf Compare, which currently doesn't have the support to show the results for multiple tests under one Jenkins build.

In Ado

[2020-01-21 17:13] piyush286 commented on #171
FYI @sophiaxu0424

[2020-01-21 21:48] #163 closed

[2020-01-22 18:57] piyush286 opened #173 "Extend Tabular View for Adopt Perf Builds"
### Problem Description

As part of https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/136, we enabled the extraction of perf results from Adopt Perf builds. While the backend will be able to parse builds and store results, we will need to update our front end tool, Tabular View, which currently doesn't have the support to show the results for multiple tests under one Jenkins build.

In Ado

[2020-01-27 14:17] lumpfish opened #174 "Amend TRSS to show results for still in-flight pipelines"
At the moment a build pipeline must have completed before TRSS shows the 'grid' view for the pipeline jobs.
This means that the TRSS cannot be used to monitor in-flight pipelines.  The ability to use TRSS to see the status of and triage test results for jobs as they complete in a pipeline would be particularly useful for release builds, when being aware of any test failures quickly is important in

[2020-01-27 19:47] smlambert commented on #174
Thanks @lumpfish

Some notes relating to this feature request.  As mentioned in the AQAvit call and the OpenJ9 community call, we had enabled this 'streaming' functionality in TRSS at one point.

It is possible for us to re-enable it, however, the caveat is that for Jenkins pipelines that want to support cancel/restart (like the OpenJ9 pipelines), this introduces an issue.  As we stream in data on

[2020-01-27 19:58] sophiaxu0424 commented on #136
This is one of the parsed jenkins builds' result. Under `tests` the first and last elements are the `pre-test` and `post-test` results. others are from test/perf functional results. If Perf test has been applied, we would have variables: `benchmarkName`, `benchmarkVariant` and `testData`.

![Screen Shot 2020-01-27 at 2 52 16 PM](https://user-images.githubusercontent.com/43182493/73208700-e5df7600-

[2020-01-28 11:04] lumpfish commented on #174
I assume that 'OpenJ9 pipelines' means the pipelines at https://ci.eclipse.org/openj9/ ?

If 'streaming = on / off' would mean that AdoptOpenJDK builds could be monitored in-flight but Eclipse/openj9 ones could not, then that would appear to be an adequate solution for people responsible for building AdoptOpenJDK releases.

FWIW, personally I'd prefer this TRSS streaming capability over the abilit

[2020-01-28 22:46] smlambert commented on #174
Yes, we will look at what options are available to us (can we stream or not stream depending on server being monitored, which is more granular that per TRSS instance... etc), and try to arrive at the best approach to achieve what we want from this feature request, which is to use TRSS as a live triage aid, versus only post-mortem triage.

[2020-01-30 15:38] sophiaxu0424 commented on #136
- Choose monitoring pipeline: https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/,
- Tracking the jenkins build under its path: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux/105/,
- ParserType: `Test`

Attached the original testResult and the one with my code added. **No affection to it**.
**Before**:
<img width="557" alt="beforeCode-1" src="https://u

[2020-01-30 22:05] sophiaxu0424 commented on #171
**After updating, the perfCompare would display all benchmarks available.**
<img width="1199" alt="Screen Shot 2020-01-30 at 5 03 43 PM" src="https://user-images.githubusercontent.com/43182493/73494504-a0c07b80-4382-11ea-8548-f6de821dcf7c.png">

**Also with aggregateInfo and rawData**
<img width="1179" alt="Screen Shot 2020-01-30 at 5 04 00 PM" src="https://user-images.githubusercontent.com/431824

[2020-01-31 23:00] sophiaxu0424 commented on #173
After adding the loop to aggregateInfo, we could display one/more benchmarks that are available in one pipeline builds:
<img width="1221" alt="Screen Shot 2020-01-31 at 5 58 35 PM" src="https://user-images.githubusercontent.com/43182493/73580414-81455380-4453-11ea-8805-2bf953b6943b.png">

[2020-02-04 14:59] sophiaxu0424 commented on #136
Also did not see affections to tests numbers here:

<img width="1415" alt="Screen Shot 2020-02-04 at 9 56 25 AM" src="https://user-images.githubusercontent.com/43182493/73755990-e25f7680-4734-11ea-8b83-1ec9e080d42b.png">

[2020-02-04 16:21] llxia commented on #136
Just want to confirm, the numbers are the same before and after the change for both perf build and non-perf build?

[2020-02-04 16:42] llxia opened #180 "Backup story for TRSS server"
The current TRSS server https://trss.adoptopenjdk.net/ is down for almost two days. And we cannot ping the machine. While people are looking into the issue, we need to have a backup story for TRSS server (in case this happens again in the future).

[2020-02-04 17:02] sophiaxu0424 commented on #136
Yes,  there's no numbers difference before and after my code changes. The numbers are basically from the testSummary and I have compared its frame, and did not see changes before and after my code changes.

[2020-02-04 18:58] piyush286 commented on #136
### Initial Design for Aggregating Multiple Benchmarks in One Jenkins Build

**AggregateInfo**

[code]
**benchmarkAggregate**

[code]

### More Efficient Design for Aggregating Multiple Benchmarks in One Jenkins Build

We should just store raw values inside `rawValues` and add it to `aggregateInfo` instead of using a separate data structure for it, a design that would save us to storing a lot of d

[2020-02-04 19:44] sophiaxu0424 commented on #136
This is a new database frame for `tests`(no change) and `aggregateInfo`(changed) based on the new design from above:

**tests** (3 different benchmarks with 2 iterations each):
<img width="526" alt="Screen Shot 2020-02-04 at 2 38 03 PM" src="https://user-images.githubusercontent.com/43182493/73780345-4fd2cd80-475c-11ea-9d45-4e0ebc350af4.png">

New **aggregateInfo** design(3 elements based on the 3

[2020-02-04 19:48] piyush286 commented on #136
@sophiaxu0424 Thanks for the quick change :) Let's make the values plural: `statValues` and `rawValues`. Thanks!

[2020-02-07 13:00] smlambert commented on #180
related: https://docs.mongodb.com/manual/core/backups/#backup-with-mongodump

[2020-02-07 16:36] sophiaxu0424 commented on #136
New Design for `aggRawMetricValues`  from array to a JSON object:

<img width="519" alt="Screen Shot 2020-02-07 at 11 28 49 AM" src="https://user-images.githubusercontent.com/43182493/74047200-f528b400-499d-11ea-835d-d96d8a6fbc3a.png">

[2020-02-07 20:51] piyush286 opened #186 "Combine Benchmark Name and Variant for Parsers and Perf Tools"
Please refer the comments in:
https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/159#issuecomment-582641434
https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/159#issuecomment-583605573

I'll add more details later.

[2020-02-07 20:59] piyush286 commented on #136
@sophiaxu0424 The data should still follow the structure mentioned in https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/136#issuecomment-582062349. Changing our logic as mentioned in https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/179#discussion_r375489385 shouldn't really change that. We don't need to store `aggRawMetricValues`.

[2020-02-11 02:38] #174 closed

[2020-02-12 23:09] piyush286 opened #188 "Add Parsers for Quarkus Tests"
### Problem Description

We have added some Quarkus tests. Hence, we'll need to add some parsers so that we can view the results using different perf tools.

Those tests have been adding using the openjdk-tests framework that uses TKG. Hence, we can launch our runs through grinders.

We'll need to monitor the grinder on local TRSS to test the new parser changes. As per https://github.com/AdoptOpen

[2020-02-12 23:09] piyush286 commented on #188
FYI @dhlee49

[2020-02-13 22:06] #164 closed

[2020-02-14 14:04] llxia opened #190 "Remove BenchmarkMetricRouter.js and related logic"
There is no need to have [BenchmarkMetricRouter.js](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/parsers/BenchmarkMetricRouter.js). It causes complicated logic and unnecessary data in database. Most importantly, we need to maintain/update this file whenever we have a new perf test. (See PR #122, PR #189, PR #159). Therefore, we should remove BenchmarkMetr

[2020-02-14 16:20] llxia opened #191 "Add jck into the view"
jck tests in nightly are parsed and stored. We just need to enable it to the view. It will show up as
 a part of nightly run. For jck weekly, it will be harder as they trigger by the job itself not a part of a pipeline.

[2020-02-14 17:14] smlambert commented on #191
as we are only showing "By Pipeline" for now, jobs triggered by schedule do not show up

Once we add "By Version" view, then jobs triggered by schedule could also be monitored and show up ..

[2020-02-17 23:29] karianna commented on #191
@smlambert can we close this since the PR has landed?

[2020-02-18 04:22] smlambert commented on #191
yes, fixed by https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/192

[2020-02-18 04:22] #191 closed

[2020-02-18 17:10] piyush286 opened #193 "Optimize Parsing & Storage of Raw Values"
### Problem Description

In order to extract Perf results for builds that have multiple tests in them (https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/136), we decided to store raw values in the aggregate info data structure.

The **design** is discussed: https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/136#issuecomment-582062349

Pros:

- Makes parser simpler
- Needs to done on

[2020-02-19 14:29] llxia opened #195 "Search is broken"
Detail error:
[code]

[2020-02-19 16:57] #195 closed

[2020-02-19 16:59] llxia opened #197 "Missing test build in streaming mode"
Noticed inconsistent behavior with streaming turned on and off.
[Test_openjdk8_hs_extended.system_s390x_linux](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.system_s390x_linux/115/) is missing for [openjdk8-pipeline #871](https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/871/) with TRSS streaming turned on, whereas in streaming off mode, Test_openjdk8_hs_extended.syst

[2020-02-25 02:20] piyush286 opened #201 "Bugs Related to Perf Compare & JDK Build Date"
In order to avoid opening multiple issues, we'll just use this issue to track and fix some recent bugs that we identified while using the perf tools.

- [x] Can't parse JDK build date for Some JDK

Can't get Java build date for this one since it doesn't have `-(20[....`

openjdk version "11.0.6" 2020-01-14
[2020-02-21T19:09:48.650Z] OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.6+10)
[2020-

[2020-02-25 13:40] llxia opened #202 "Add authentication for admin page"
We need to control access to the admin page so that only administrators can change settings.

[2020-02-26 02:15] piyush286 opened #203 "Tabular View Column Name Enhancement & Bug Fixes"
## Enhancements

- [ ]  **Enhancement: Show Nightly & Release Pipeline Data in One Column**

In order to generate the column names, we originally joined everything in the Jenkins pipeline starting from 4th index (i.e. `platform.split("_").slice(4).join('_')`). Instead of doing so, we should just join 4th and 5th index. This would allow us to compare baseline and test build in one column rather tha

[2020-02-26 02:27] piyush286 commented on #203
FYI @sophiaxu0424

[2020-02-28 23:47] piyush286 commented on #106
Closing this issue since all related work to this is completed.

[2020-02-28 23:50] piyush286 commented on #73
Closing this since all related work to this issue has been completed.

[2020-02-28 23:50] #73 closed

[2020-02-28 23:52] piyush286 commented on #105
Closing this since all related work to this issue has been completed.

[2020-02-28 23:52] #105 closed

[2020-02-28 23:53] piyush286 commented on #119
Closing this since all related work to this issue has been completed.

[2020-02-28 23:53] #119 closed

[2020-02-29 01:39] piyush286 commented on #106
Only ODM and AcmeAir graphs are updated to aggregated perf results. Liberty and SPECjbb2015 graphs haven't been updated. Since we aren't really using any perf graphs for perf monitoring due to their current limitations, we can probably do fix those after working on #118.

[2020-03-02 19:40] smlambert opened #208 "Add support for querying for test output from AzureDevops public cloud"
We would like to be able to run tests in many different CI environments (to encourage testing 'everywhere' and to leverage resources at our disposal, https://dev.azure.com/adoptopenjdk).

This issue is an enhancement to TRSS to be able to query the AzDo API, much like it currently queries the Jenkins API, for monitoring tests in that CI environment.

There are still some open questions related to

[2020-03-03 03:07] smlambert opened #209 "Confirm trss instance has PR 196 loaded"
Think trss.adoptopenjdk.net does not have the [search fix PR](https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/196) in it, as I am hitting "something went wrong" error when trying to use it.  Am able to perform searches in internal trss instance.

[2020-03-03 13:42] llxia commented on #209
Updated the code on https://trss.adoptopenjdk.net/ server. We are able to perform the search on it now.

Close this issue, please reopen if the problem still occurs.

[2020-03-03 13:42] #209 closed

[2020-03-03 19:45] piyush286 commented on #133
@llxia After some initial review for Tabular View, we didn't end up using the snippet with `distinct` mentioned above.

Mentioning some relevant snippets below. If you have any specific suggestions on how to optimize the queries further, please mention it. Thanks!

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/69e586c031d71e49d694edd944af9e591cd10ba2/TestResultSummaryService/routes/getTa

[2020-03-03 19:48] sophiaxu0424 commented on #190
Hi Lan,

I am currently doing the cleaning up removing the BenchmarkMetricRouter.js . file, and having a problem of deciding the keywords in those 5 bencharkNames:
- The front 4 benchmarkNames all go to `LibertyDTThroughput`(needs to be renamed to be **keyword** 1)
- The last 1 benchmarkName(`DayTrader30`) goes to `DayTrader30`(need to renamed to be **keyword** 2)

While in order to use the contai

[2020-03-04 13:36] llxia commented on #190
Except for LibertyDTThroughput and DayTrader30, do we have any other exceptional case?

[2020-03-04 13:43] sophiaxu0424 commented on #190
Those two are the only remaining cases now.

[2020-03-04 15:11] llxia commented on #190
I feel that we can do something for `LibertyDTThroughput` and `DayTrader30` parsing logic as some of the logic is similar. For example, `outerRegex` is the same and `Throughput` can use the same regex to parse. For others, we can use `|`, but it may need some testing to verify.

For simplicity, we can leverage the fact `Object.keys()` preserves the insertion order for strings. Move `DayTrader30 `

[2020-03-05 15:24] llxia opened #211 "Update getParserProps.js to remove duplicate logic"
[getParserProps.js](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/5022119aac8324e733efba72237eace84378fd83/TestResultSummaryService/routes/getParserProps.js) returns a static file to client side, so that client side can get `highbetter` and `units` value for a particular perf test. This causes the parsing logic in both [client](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/1e97

[2020-03-05 15:50] llxia commented on #190
For new perf test, the naming convention should be `<benchmark>-<extra>`. For example,
dacapo-eclipse
dacapo-avrora
dacapo-fop
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/perf/dacapo/playlist.xml

[2020-03-11 03:22] piyush286 commented on #211
Looking at https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/214, I feel that it might be a bit expensive to query the metric related data for each benchmark since we'll be making an API call to the backend for every single benchmark.

This would especially impact Tabular View, which shows the latest benchmark results for all different platforms. Perf Compare would be relatively less expensi

[2020-03-11 14:45] llxia commented on #211
The number of platforms should not affect the performance of getting the same benchmark props. `getParserProps.js` gets props based on the benchmark name, not the platform. If the platform numbers affect the performance for getting the same benchmark props, then we need to look into the code to see if we have any duplicate API calls.

There is no time difference if we only use the API once. In the

[2020-03-11 15:28] llxia commented on #190
PR#210 is merged. Close this issue

[2020-03-11 15:28] #190 closed

[2020-03-11 16:49] llxia opened #215 "Simplify the logic in PerfCompare.js"
In [PerfCompare.js](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/test-result-summary-client/src/PerfCompare/PerfCompare.jsx), we are using `undefined`, `null`, `""` to represent different meanings. I think we should simplify the logic.

- [ ] `higherbetter ` should have only two state. i.e., true or false. There is no need to have a third state `undefined`. The default value for

[2020-03-11 16:58] piyush286 commented on #211
You're right! I agree with everything. I missed that we just make the call for each benchmark and not for platform, something that obviously more optimal and makes sense.

Tabular view would show all the benchmarks that it can find if no filters are applied. Currently, the number of benchmarks that we're running using Jenkins is fairly low, so I don't except Tabular View to be slow. We can re-visi

[2020-03-11 17:55] llxia commented on #211
No worries. It is good to have a second opinion. Thanks.

[2020-03-12 17:30] llxia commented on #133
I feel this is not only a specific function is used or not. There are lots of problems. Below are some examples:

- Instead of writing code to filter and find the latest run, can we query on date?
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/69e586c031d71e49d694edd944af9e591cd10ba2/TestResultSummaryService/routes/getTabularData.js#L47-L67

- why loop through all info and string concat i

[2020-03-26 14:49] smlambert opened #220 "Possible issues link directs to openj9 repos for hotspot failures"
We should change the default repo for searching for possible issues for hotspot failures

[2020-03-26 16:48] llxia commented on #220
I think we can change the `possible issues link` based on JDK_IMPL on the test job name (i.e., Test_openjdk8_j9_sanity.openjdk_ppc64le_linux_xl)

|JDK_IMPL | link to |
|:-:|:-:|
| j9/ibm | openj9 repo |
| hs/others | Adopt test repo? |

[2020-03-26 21:52] smlambert commented on #220
yes, I think that is a good plan, and as discussed today, we can raise an enhancement issue later to have this search several repos and return a list of possible issues, but lets go one step at a time.  :)

[2020-04-02 16:41] llxia commented on #208
We are looking into:
https://github.com/microsoft/azure-devops-node-api

[2020-04-08 15:39] llxia opened #223 "Update internal TRSS to monitor perf builds"
As part of the cleanup, we would like to bring the internal TRSS up to date. Below is the steps:

- [ ] update internal TRSS (rttestci) with the latest code

- [ ] monitor the following perf builds:
Test_perf/job/Test_openjdk8_j9_sanity.perf_x86-64_linux_Liberty
quarkus benchmark build if it is ready

- [ ] update [DayTrader3.jsx](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/test

[2020-04-08 15:39] llxia commented on #223
fyi @dhlee49

[2020-04-08 15:46] llxia commented on #118
As discussed, we break this issue into several parts. The first couple of tasks:
1. Update internal server https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/223
2. create react component for charts
3. update all graphs if needed
4. TBD...

[2020-04-08 18:52] piyush286 commented on #190
@llxia Thanks for helping finalize the naming convention for perf tests today. I've added some new notes along with some quotes from everywhere to summarize things in one place. Feel free to update this note if something doesn't look right or we missed talking about.

### Naming Convention for Perf Tests & Parser Key

**Convention:**
`<BenchmarkFolderName>-<extra>` (not `<BenchmarkFolderName>_<ext

[2020-04-09 21:18] piyush286 opened #224 "Tabular View Doesn't Filter JDK Version Correctly"
As shown in the screenshot below, Java 11 is set in the dropdown menu for JDK version, but it's showing both Java 8 and 11 pipelines. It should only show Java 11 data.

![image](https://user-images.githubusercontent.com/10422081/78941453-b9859580-7a85-11ea-8cfd-3838f4e8f94b.png)

[2020-04-15 19:32] piyush286 opened #226 "Show only the Builds that have results on Tabular View"
- [ ] Enhancement

Currently, Tabular View shows the latest build that qualifies the date filter irrespective of whether it has results or not. As a result, we could see some builds on Tabular view that don't have results (as shown below). Since the main purpose is to see results, we should only show builds that have results in them. See https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/22

[2020-04-15 19:37] piyush286 opened #227 "Clicking on a Tabular View Result Cell does not automatically Submit the builds on Perf Compare"
As per the design, when we click on a Tabular View result cell, it should take you to Perf Compare view. Perf Compare View should automatically show you the comparison between those 2 builds without requiring one to click on the submit button.

I believe that that functionality got broken with some recent commits as Perf Compare no longer shows the comparison directly between the builds, requiring

[2020-04-20 19:27] llxia commented on #55
fyi @LongyuZhang

[2020-04-20 19:30] llxia commented on #220
FYI @LongyuZhang

Please add a if statement based on JDK_IMPL in buildName:
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/51efb38bc3e48b5b947d7fc8c6b80286143e0313/test-result-summary-client/src/Build/TestTable.jsx#L64

[2020-04-20 22:52] sophiaxu0424 commented on #226
Did not see an error here, see below. Might not be a bug for there's no builds during that date.
<img width="1293" alt="Screen Shot 2020-04-20 at 6 46 36 PM" src="https://user-images.githubusercontent.com/43182493/79807122-04ca5e80-8338-11ea-94eb-4405efc7634b.png">

[2020-04-20 22:57] sophiaxu0424 commented on #224
It doest filter JDK version cause there no query point as JDK version(instead the testResults have javaVersion, which is totally a different thing), same as JVM type. If we need to make these two filters work, we need to add them to the testResults as jdkDate, javaVersion and sdkResource.

See below:
<img width="380" alt="Screen Shot 2020-04-20 at 6 54 46 PM" src="https://user-images.githubusercon

[2020-04-21 16:25] piyush286 commented on #226
You can't reproduce since there might a newer build that qualifies the date filter and has results inside `aggregateInfo`.

When the `aggregateInfo` data doesn't have results (i.e. `metrics array`), then we won't see the results.

**Example from rt-testci server:**

Latest build doesn't have results.
<img width="838" alt="Screen Shot 2020-04-21 at 12 23 15 PM" src="https://user-images.githubuserco

[2020-04-21 18:36] piyush286 commented on #224
We don't need to add `jdkVersion` and `jvmType` to the `testResults` data since we use regex on `buildName` to find the matching builds.

**Relevant Snippet:**
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/6eade0055a35a953dbd38693541228b5c94061bd/TestResultSummaryService/routes/getTabularData.js#L16

[2020-04-22 15:41] llxia opened #232 "Fix invalid date on perf dashboard"
In the dashboard, we have an invalid date on perf dashboard.

![image](https://user-images.githubusercontent.com/19273206/80002746-06a63600-848e-11ea-8159-ac386f14f68e.png)

FYI @sophiaxu0424

[2020-04-24 02:06] smlambert opened #234 "Make Test Compare view easier to use"
In [Test Compare view](https://trss.adoptopenjdk.net/testCompare), I think we could just reduce to 3 fields Test Job URL A, and Test Job URL B, and test target name (which could be optional) and cut'n'paste from the browser to compare (rather than 8 fields that have to be painstakingly filled out, and if one or both of the test jobs are not in that instance of TRSS, just report as such.

<img widt

[2020-04-27 21:09] sophiaxu0424 commented on #224
That's right, have changed it back using buildName regex to filter the database.

[2020-04-28 15:05] llxia commented on #55
PR https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/231 is merged. Close this issue. Please reopen if the problem still occurs.

[2020-04-28 15:05] #55 closed

[2020-04-28 15:21] llxia commented on #234
@LongyuZhang could you take a look at this one? Thanks

[2020-04-30 17:51] #201 closed

[2020-04-30 17:52] #188 closed

[2020-04-30 17:52] #186 closed

[2020-04-30 17:53] piyush286 commented on #173
Closing this since it's complete.

[2020-04-30 17:53] #173 closed

[2020-04-30 17:54] piyush286 commented on #171
Closing this since it's complete.

[2020-04-30 17:54] #171 closed

[2020-04-30 17:55] piyush286 commented on #136
Closing this since it's complete.

[2020-04-30 17:55] #136 closed

[2020-05-01 21:09] piyush286 commented on #193
As requested:

We mainly have 2 scenarios for running perf tests. Here's a short summary:

Scenario | Description | Uses Aggregate Data | Example
-- | -- | -- | --
Using   Openjdk-tests Framework (TKG) | For   each JDK, we run multiple tests multiple times in one Jenkins Build. We do   the same for the baseline JDK in another pipeline. | Yes |    Test_perf/job/Test_openjdk11_j9_sanity.perf_ppc64le

[2020-05-04 20:48] piyush286 opened #237 "Perf Compare Shows Units as Undefined"
As shown in the screenshots below taken from the deployed server, Perf Compare shows units for metrics as undefined.

![image](https://user-images.githubusercontent.com/10422081/81011929-bed8c480-8e26-11ea-9b5b-154374f64ab5.png)

![image](https://user-images.githubusercontent.com/10422081/81012031-e16add80-8e26-11ea-89f8-f01c77d5bf3e.png)

[2020-05-05 14:56] piyush286 opened #238 "Add Parsers for Renaissance Benchmarks"
Adopt has the [Renaissance tests](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/perf/renaissance) already. We just need to add the parsers for it so that we can parse and monitor them using TRSS.

[2020-05-05 19:44] smlambert commented on #238
We need to also rename the test targets to follow the naming schema that we want to use in TRSS (as I did not know of that schema when I added the renaissance tests).

So, prepending test target names with the benchmark/folder name, [akka-uct](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/perf/renaissance/playlist.xml#L18) would get renamed to renaissance-akka-uct, [als](https://github

[2020-05-06 01:45] piyush286 commented on #238
Thanks @smlambert for noticing that. Opened an issue for it: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1770.

[2020-05-06 14:44] #238 closed

[2020-05-06 15:07] #211 closed

[2020-05-06 16:45] smlambert opened #241 "Consider adding a 3rd party Applications view"
external 3rd party application tests (specifically, sanity.external and extended.external test targets) contain a bunch of information and variations that will be good to expose through a more detailed GUI view

This extra info includes:
- application tag or version
- docker image tag

While we have the Grid view that will allow us to drill into a sanity.external run that was launched from a main

[2020-05-19 13:53] llxia opened #242 "Add buildResult into getTestAvgDuration query"
We should add `buildResult` into [getTestAvgDuration](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/routes/getTestAvgDuration.js) query. Users can provide the value when calling getTestAvgDuration API. If not, the default value is `SUCCESS|UNSTABLE`. In the way, we can get a more accurate test execution time.

Related to https://github.com/AdoptOpenJDK/ope

[2020-05-19 13:59] llxia opened #243 "Rename variables in getTestAvgDuration"
Rename couple of variables in [getTestAvgDuration](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/routes/getTestAvgDuration.js) to match with TKG param name.

- bucketTime to testListTime
- bucketCount to numMachines
- buckets to testLists

Please note we may need to update the API call in TKG if it is used.

Related https://github.com/AdoptOpenJDK/openjdk-

[2020-05-19 14:26] llxia commented on #243
@OscarQQ could you please take a look? Thanks

[2020-05-20 20:19] llxia opened #245 "Validate duration in test parser"
In [test parser](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/24998b2460bd8b879e891867bd9940d5b54eef6d/TestResultSummaryService/parsers/Test.js#L79), we calculate the test duration based on `finishTime - startTime`. We need to add checks to make sure that the data is valid:

- `regexStartTime` and `regexFinishTime` need to make sure `testName` matches
- `finishTime` and `startTime` have

[2020-05-20 21:18] llxia commented on #242
FYI @OscarQQ

[2020-05-21 14:53] #243 closed

[2020-05-21 18:50] llxia commented on #245
fyi @OscarQQ

[2020-05-21 21:21] llxia opened #247 "Wrong link for parallel builds"
In Gird view, click on the parent build should open page for its child builds. Currently, instead of [child builds](http://testci1.fyre.ibm.com/buildDetail?parentId=5ec69561bc3c0d34422bc519), it shows [empty page](http://testci1.fyre.ibm.com/buildDetail?parentId=5ec696d7bc3c0d34422bff5a)

I suspect we set wrong id in [ResultSummary.jsx](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/maste

[2020-05-23 02:48] sophiaxu0424 commented on #232
### After the fix:
<img width="1188" alt="Screen Shot 2020-05-22 at 10 41 37 PM" src="https://user-images.githubusercontent.com/43182493/82720097-5b4ff300-9c7e-11ea-853f-11ad71f7f04d.png">

[2020-05-23 03:33] #242 closed

[2020-05-25 20:54] llxia commented on #247
FYI @OscarQQ

[2020-05-26 16:05] #247 closed

[2020-05-26 16:57] #245 closed

[2020-05-26 17:39] llxia commented on #197
We do not see this issue anymore.

[2020-05-26 17:39] #197 closed

[2020-05-27 17:03] llxia opened #253 "open page in new tab in Grid view"
In Grid view, the page is opened in the current tab. It would be more user friendly if we can open the page in another tab.

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/8fea16563271177a1944c09b81018c324b88ba04/test-result-summary-client/src/Build/Summary/ResultGrid.jsx#L58

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/8fea16563271177a1944c09b81018c324b88ba04/test-result-summ

[2020-05-27 17:03] llxia commented on #253
fyi @OscarQQ

[2020-05-28 13:05] #253 closed

[2020-06-01 14:53] llxia opened #256 "Use icons instead of text"
Change Action to use icons (with tooltip) instead of text, so that we can save space to display more important info. This should be similar to `create new git issue`

https://trss.adoptopenjdk.net/allTestsInfo?buildId=5ed3f84f7d66ef2bd6d92fbf&limit=5

![image](https://user-images.githubusercontent.com/19273206/83421328-e905ae00-a3f5-11ea-8003-0cbe7abd54c6.png)

All Platforms => `<ClusterOutlined /

[2020-06-01 18:48] smlambert commented on #220
Closed by #235

[2020-06-01 18:48] #220 closed

[2020-06-01 18:51] smlambert opened #257 "Ability to search multiple repos for possible issues"
<img width="1329" alt="Screen Shot 2020-06-01 at 3 05 07 PM" src="https://user-images.githubusercontent.com/2836948/83444703-c5ecf580-a419-11ea-8340-3e0f88f9361f.png">
We currently have a simple search of a single repo to look for Possible Issues from a link in the Action column.  In real use cases, there are multiple repos that would need to be searched in order to determine if this issue exists

[2020-06-01 19:41] smlambert opened #258 "Enhance "Create new issue" functionality to include more info"
Ideally, some additional information gets automatically populated into the "Create new issue" functionality, including:
- java -version info
- date / SHA when issue first seen
- guess at intermittency / or if only ever seen on a single machine or certain set of machines

[2020-06-02 17:49] llxia opened #259 "Aggregated view for parallel builds"
In Grid view, if we click on parent build of a parallel runs, we will see a list of child builds. It is more user friendly if we can display an aggregated view of all tests (same behavior as clicking on non-parallel test build).

[2020-06-02 17:49] llxia commented on #259
FYI @OscarQQ

[2020-06-02 17:50] llxia commented on #234
Close this issue as the PR is delivered.

[2020-06-02 17:50] #234 closed

[2020-06-02 18:08] llxia commented on #257
FYI @LongyuZhang

[2020-06-04 13:00] #203 closed

[2020-06-04 13:00] #224 closed

[2020-06-04 13:00] #226 closed

[2020-06-04 17:56] llxia commented on #256
FYI @OscarQQ

[2020-06-04 17:59] llxia commented on #169
PR is delivered. Close this issue

[2020-06-04 17:59] #169 closed

[2020-06-04 19:18] llxia commented on #258
We will add java -version info in the `Create new issue` first
FYI @OscarQQ

[2020-06-08 16:17] #256 closed

[2020-06-09 18:22] piyush286 opened #264 "Tabular View Loads Multiple Times On Clicking Submit"
When submit button is clicked, Tabular View should refresh only once to show the latest data. After https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/230 was merged and the server was updated with the latest changes, TV seems to load multiple times, taking a few seconds for each refresh.

### Possible Issue

![image](https://user-images.githubusercontent.com/10422081/84185107-7e3f1d00-aa5c-1

[2020-06-09 18:22] piyush286 commented on #264
@sophiaxu0424

[2020-06-09 18:30] piyush286 opened #265 "Tabular View Doesn't Show Some Metrics"
By default (no benchmark filter), Tabular View should show all metrics. As shown in the screenshots below, it doesn't shows only one metric (i.e. footprint) for `pingperf-quarkus-startup` benchmark and misses the other one (i.e. startup time). When we use the benchmark filter to explicitly selected Quarkus benchmarks or when we use Perf Compare, then we can see both the metrics for pingperf as sho

[2020-06-09 18:30] piyush286 commented on #265
FYI @sophiaxu0424

[2020-06-09 21:07] #259 closed

[2020-06-10 09:44] lumpfish opened #267 "TRSS grid cell display graphic missing"
In this test grid: https://trss.adoptopenjdk.net/resultSummary?parentId=5ede3c7c7d66ef2bd6e8378b sanity.perf tests were executed against x86-64_mac but the grid position for that test is blank.
If you hover your mouse over the grid cell then the popup appears showing that the tests were executed and there were 2 failures.
Maybe it's due to the test's "PARTIAL_SUCCESS" status?

[2020-06-10 11:48] smlambert commented on #267
<img width="388" alt="Screen Shot 2020-06-10 at 7 47 43 AM" src="https://user-images.githubusercontent.com/2836948/84264150-b0995a80-aaee-11ea-8cef-234985bfbe98.png">

[2020-06-10 19:54] smlambert opened #269 "Create new issue button bug - Request URL too long"
Arrived here after clicking on the Create new issue in openjdk-tests button:

<img width="1288" alt="Screen Shot 2020-06-10 at 3 52 30 PM" src="https://user-images.githubusercontent.com/2836948/84312202-92554e00-ab32-11ea-8faf-8020a149220d.png">

Here was the URL that I grabbed from the browser field:
https://github.com/AdoptOpenJDK/openjdk-tests/issues/new?title=MachineInfo_0%20PASSED%20in%20Test

[2020-06-11 16:07] llxia commented on #267
I do not see `PARTIAL-SUCCESS` is used anywhere.
@OscarQQ could you update `buildResult = "UNSTABLE"`? Also, add a note in the tooltip for Perf, `Build Result is from TestBenchmarkParser.js (not CI build)`. Thanks

[2020-06-11 21:32] #269 closed

[2020-06-15 19:01] #267 closed

[2020-06-15 23:48] llxia opened #275 "Remove timestamp in java version data"
In DB, we store java version with the timestamp from CI server.

[code]

This timestamp should be removed so that the users can focus on the java version output.

[2020-06-15 23:53] OscarQQ opened #276 "Start Time is invalid date in deep history"
example: https://trss.adoptopenjdk.net/deepHistory?testId=5ee6e155bdbc4f6b2bcb71de

The last column is all invalid date

[2020-06-16 00:22] OscarQQ commented on #276
At [L80 of TestResultSummaryService/parser/Test.js](https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/8ec1a3d4b76902d79803fca981ee020dca5a5d0e/TestResultSummaryService/parsers/Test.js#L80)
startTime is extracted from Jenkins console output and its type is String, we shall make it int

[2020-06-16 13:00] #276 closed

[2020-06-16 18:47] #275 closed

[2020-06-18 15:34] llxia opened #280 "Parallel test only shows one set of Pre Test and Post Test"
In [Aggregated view for parallel builds](https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/259), we display all tests from all child jobs into one view. But it looks like we only have one set of Pre Test and Post Test. Ideally, each child job should have Pre Test and Post Test.

[2020-06-19 09:27] OscarQQ opened #282 "'testResult' of undefined when opening x86-64_linux j9 external sanity external"
Grid Link: https://trss.adoptopenjdk.net/resultSummary?parentId=5ee8ff49bdbc4f6b2bce5f92

[2020-06-19 09:28] OscarQQ commented on #282
<img width="1107" alt="Screen Shot 2020-06-19 at 2 27 49 AM" src="https://user-images.githubusercontent.com/42520890/85117983-84f42f80-b1d4-11ea-9a78-b1308ac5111d.png">

[2020-06-19 09:28] OscarQQ commented on #282
<img width="1162" alt="Screen Shot 2020-06-19 at 2 27 06 AM" src="https://user-images.githubusercontent.com/42520890/85118008-8d4c6a80-b1d4-11ea-94fa-b8d8f154f119.png">

[2020-06-19 09:31] OscarQQ opened #283 "Pagination not working on testTable"
Example: https://trss.adoptopenjdk.net/allTestsInfo?buildId=5eec1717bdbc4f6b2bd217da&limit=5&hasChildren=false

change the pagination will not have any effect

[2020-06-19 09:32] OscarQQ commented on #283
<img width="1467" alt="Screen Shot 2020-06-19 at 2 31 49 AM" src="https://user-images.githubusercontent.com/42520890/85118387-18c5fb80-b1d5-11ea-8e28-6bfb18c6d75e.png">

[2020-06-19 09:35] OscarQQ commented on #283
<img width="1419" alt="Screen Shot 2020-06-19 at 2 34 46 AM" src="https://user-images.githubusercontent.com/42520890/85118701-86722780-b1d5-11ea-989a-7ad60769c12f.png">

[2020-06-19 09:57] OscarQQ commented on #283
Place needs to change: https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/7626cb2ce409b499dc9f52fabadc07e527881c07/test-result-summary-client/src/Build/TestTable.jsx#L216
We set the page size to be always 50 here, I search pagination across the codebase and find that we also hardcoded page size somewhere else.
Shall I change all of the paginations? Or it's fine to keep these.
`pagination={{ p

[2020-06-19 10:15] OscarQQ commented on #282
Not reproducible on other pipelines & builds, maybe a bug specific to this build

[2020-06-20 02:18] llxia commented on #283
Please feel free to update the code.

[2020-06-22 13:15] #283 closed

[2020-06-24 18:01] llxia opened #288 "Store build data for a long period"
Users can decide `# of Builds to Keep` in DB. However, this may not be sufficient. For example, perf builds or release builds may want to keep for a long time frame. We should have a flag `keepforever`. It should auto set for releases build. Also, users should be able to set/unset this flag for specific builds. `keepforever` should be used at the root build level, which means if the root build has

[2020-06-24 18:04] llxia opened #289 "Common function for fetch"
Instead of repeating the following lines for fetch, we should have a common function for it. It will make the code more maintainable. And we can catch and handle error in one function.

https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/68c8d8fc151b222637b34a54a9f65436897e1121/test-result-summary-client/src/Build/TopLevelBuildTable.jsx#L32-L35

[2020-06-24 18:12] llxia commented on #258
I think we should also include the rerun link.

[2020-06-24 20:08] smlambert commented on #258
And possibly include the artifacts link if there is an artifactory server and they are being pushed somewhere with a longer storage than the 5 days of a Jenkins jobs lifespan.

[2020-06-25 18:20] llxia commented on #258
example of git diff: https://github.ibm.com/runtimes/openj9/compare/497aab8...50d4f8e

[2020-06-25 21:08] llxia commented on #241
The following is an example of what we need to display:

Application Name | Application Version | Platform | JDK_VERSION | JDK_IMP | Docker Image OS | Result | Tested Date | Java Version Output | link to TRSS/Jenkins build detail
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
jenkins | 2.235 | xlinux | 11 | hs | alpine | PASSED |   |  |
jenkins | xxx | pliunx | 8 | J9 | centos | PASSED |   |  |
t

[2020-06-25 21:40] smlambert commented on #241
May additionally want to have a "Tested by" column (for now Adoptium, in future could be a set of testers).

[2020-06-29 17:21] #237 closed

[2020-06-29 17:22] #227 closed

[2020-07-03 15:20] llxia commented on #241
Possible place to add the parse and update data in DB:
- Add an `ExternalTestParser` that is similar to `TestBenchmarkParser`
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/2ed28e48cf19f07de7fd623da1c0c2357f05cb74/TestResultSummaryService/parsers/Test.js#L119-L131
`ExternalTestParser` adds `ExternalData` into return obj
- `history table` will be updated after the test is inserted. We need

[2020-07-06 20:44] llxia commented on #241
FYI @renfeiw

[2020-07-08 11:29] sxa commented on #180
Related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1295

[2020-07-09 15:17] llxia commented on #280
Haven't seen the problem for a while. Close this issue.

[2020-07-09 15:17] #280 closed

[2020-07-27 17:53] eramos2 opened #297 "Perf Compare (TRSS) regression percentage calculation for startup and footprint benchmarks"
We see that currently on Perf Compare (TRSS) the regression percentage for SUFP is being calculated by dividing the baseline result by the test result (above 100% is an improvement).  In the WAS Performance team we have been doing it the other way around, test result / baseline result (below 100% is an improvement).  We also add a +/- 3% threshold to account for test variability.

[code]

[code]

[2020-07-27 18:00] smlambert commented on #297
Thanks @eramos2 !  I've labeled with discussion tag and will others to weigh in before we decide how best to proceed.  Cheers!

[2020-07-30 18:17] llxia commented on #241
PR https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/296

[2020-07-30 19:29] #288 closed

[2020-08-18 17:41] llxia commented on #232
PR https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/251 is delivered.

[2020-08-18 17:41] #232 closed

[2020-08-26 17:50] llxia opened #306 "Support user action to delete builds in database"
Currently, we have auto-deletion in TRSS. For example, a build will be removed if `# of Builds to Keep` is reached. We need also to support user action to delete builds. In Build Monitoring List, if a user decides to delete a `Build URL`, we should also ask if he/she wants to delete the data in database. If so, the build data will be removed from database.

[2020-08-26 18:00] smlambert commented on #306
This is a good idea, especially since currently it is way to easy and commonplace for the build team to trigger the build pipelines, often with no testing enabled, which is not nearly so interesting for us to keep AND means that we flush out pipelines that launched tests far more quickly than necessary.

[2020-08-27 14:16] llxia opened #307 "Capture openjdk sha in test builds"
According to https://github.com/AdoptOpenJDK/openjdk-build/issues/1476, we can get openjdk sha from the release file. TRSS should capture this information, store it in database, and display it in UI in the tooltip.

Example:
[hotspot](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-hotspot/673/):
`SOURCE=".:git:7c43237a7bde"`
[openj9](https://ci.adoptopenjdk.

[2020-08-28 14:48] llxia opened #308 "Remove deprecated API calls"
[code]

[2020-08-30 20:39] OscarQQ commented on #282
Haven't seen the problem for a while. Close this issue.

[2020-09-14 14:10] #264 closed

[2020-09-29 14:46] smlambert commented on #241
Closed via #296 -  thanks @renfeiw !

[2020-09-29 14:46] #241 closed

[2020-10-02 15:04] #308 closed

[2020-10-08 15:02] llxia opened #318 "AllPlotforms needs to be updated to support parallel builds"
AllPlotforms link does not work for parallel builds, due to the structure change for parallel builds.

<img src=https://user-images.githubusercontent.com/19273206/95475714-864c9200-0954-11eb-9f21-18d99fd7cf26.png width=450/>

<img src=https://user-images.githubusercontent.com/19273206/95476096-e2afb180-0954-11eb-8bc1-41450df25a39.png width=450/>

API that needs to be updated:
https://github.com/Ad

[2020-10-22 14:32] sophia-guo opened #321 "jdk_jfr_0 was incorreclty shown running 39 times in one build, which actually only ran once."
jdk_jfr_0 was shown as 0/39 passed https://trss.adoptopenjdk.net/deepHistory?testId=5f91178511d26031c11d5650

Looking at the build itself  and the tap results it only run once. https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64_aix/2/

There may be some parsing errors due to the jdk_jfr_0 special result output?

[2020-10-22 14:51] sophia-guo commented on #321
Build failed due to time out. Hence the ending part of console output is different from other normally finished one. Looking at https://trss.adoptopenjdk.net/deepHistory?testId=5f91178511d26031c11d5650 all `Duration` showed N/A probably related with parsing with test running time?

[2020-10-22 15:12] llxia commented on #321
The information is repeated in the deephistory table:

![image](https://user-images.githubusercontent.com/19273206/96888285-72745600-1453-11eb-930e-4fd081421f19.png)

https://trss.adoptopenjdk.net/allTestsInfo?buildId=5f91167211d26031c11d5161 contains multiple jdk_jfr_0

![image](https://user-images.githubusercontent.com/19273206/96891906-1ca1ad00-1457-11eb-8fa9-b0ee2465a800.png)

[2020-10-22 15:16] llxia commented on #321
Hmm, it looks like it is a Jenkins output issue, not TRSS.  `Running test jdk_jfr_0 ...` showed up 39 times in the Jenkins console output. It should be showing up only once.

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64_aix/2/logText/progressiveText?start=0

In this case, TRSS recorded 39 `jdk_jfr_0` as expected.

[2020-10-22 17:25] smlambert commented on #321
Fascinating, wonder what state can cause Jenkins push it so many times to progressive text.

I am going to presume this is a rare occurrence and since TRSS behaved as expected, we can close this (and in fact likely should see if its already reported as a Jenkins bug somehow, or raise it there if it looks like it could recur).

[2020-10-22 17:25] #321 closed

[2020-10-27 15:04] #306 closed

[2020-10-28 04:29] #318 closed

[2020-10-30 21:46] OscarQQ opened #322 "delete keep forever builds when deleting pipeline in monitoring list"
Builds that have been checked keep forever won't be deleted when we delete the pipeline in admin/settings. This will cause unnecessary waste in DB.

[2020-11-30 20:46] smlambert opened #329 "Contribute Bug Prediction Prototype"
We have a Bug Prediction Service that was implemented (initially to work with source code kept in RTC), then prototyped to look at source code in Github repos.  We will make an initial contribution of this tool, so that we can invite students from a university open-source program to enhance the tool and integrate it with some of the other services/tools planned for this repository.

The Bug Predic

[2020-12-02 19:16] llxia commented on #180
A cron job can be created on the machine to export MongoDB data weekly. Ideally, the exported data should be stored on a separate server (i.e., artifactory, git repo, etc). For now, we can just store the backup data on the machine.

[2020-12-03 15:02] smlambert opened #331 "Add a Custom tab to Dashboard for Project Stats widget"
I think we can rename and repurpose the FVT tab to a Custom tab, and make it a space where we can create a new Project Stats widget and drop it into that view help us track project stats.

<img width="1362" alt="Screen Shot 2020-12-03 at 9 57 09 AM" src="https://user-images.githubusercontent.com/2836948/101044971-ef641680-354d-11eb-8cd8-7dd5911d0c82.png">

A Custom tab view is one that people can

[2020-12-03 16:52] smlambert commented on #331
FYI @andrew-m-leonard

[2020-12-08 18:53] sophia-guo opened #332 "Add support in TRSS to search for possible issues to the run-aqa repo"
This issue is an enhancement to TRSS to be able to query possible issues of the run-aqa repo.  Similar to the check for issues in openjdk-tests, openj9 repos.

[2020-12-08 18:58] smlambert commented on #332
I was just suggesting that we add support in TRSS to search for possible issues to the run-aqa repo, rather than querying the console for test results (though that is also something of interest, so perhaps we create 2 enhancement issues).  I know we check for issues in openjdk-tests, openj9 and possibly other repos...

<img width="214" alt="Screen Shot 2020-12-08 at 1 56 37 PM" src="https://user-i

[2020-12-08 19:17] sophia-guo commented on #332
Sorry for misunderstanding. Updated the issue to correctly show the requirement.

[2020-12-08 19:47] sophia-guo commented on #332
FYI @LongyuZhang

[2021-01-03 04:51] OscarQQ opened #335 "Cannot read property 'map' of undefined when clicking setting of BuildStatus widget"
<img width="1672" alt="Screen Shot 2021-01-02 at 8 36 07 PM" src="https://user-images.githubusercontent.com/42520890/103471954-f85a2a80-4d3b-11eb-9422-f62928c10495.png">

TypeError: Cannot read property 'map' of undefined
at https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/ee059a64777a49e560c71e4cd56a43853841da35/test-result-summary-client/src/Dashboard/Widgets/BuildStatus/BuildStatus.jsx#L

[2021-01-04 19:52] llxia commented on #335
I think this is related to the fact that we removed `OpenJ9` info in https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/master/TestResultSummaryService/DashboardBuildInfo.json. When adding a new BuildStatus, `Openj9` is the default option. However, there is no data anymore.

Update the default to `AdoptOpenJDK` should fix this.

[2021-01-11 02:31] OscarQQ opened #337 "TypeError: Cannot read property 'match' of null in git new issue"
![image](https://user-images.githubusercontent.com/42520890/104142751-ba7b8880-5371-11eb-91d9-ac88e432d583.png)

url: https://trss.adoptopenjdk.net/gitNewIssue?testId=5ff9efef2bad785066073905&buildId=5ff9ee802bad785066073046
failed at https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/ee059a64777a49e560c71e4cd56a43853841da35/test-result-summary-client/src/utils/Utils.js#L39

[2021-01-11 06:52] OscarQQ commented on #337
java version is not extracted at https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/ee059a64777a49e560c71e4cd56a43853841da35/TestResultSummaryService/parsers/Parser.js#L16
so java version is not stored at DB
![image](https://user-images.githubusercontent.com/42520890/104153073-38ea2180-5396-11eb-8fd0-2cd43ff94920.png)
But I couldn't find anything wrong with the regex expression....

[2021-01-11 07:36] OscarQQ commented on #337
The current regex we are using is https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/ee059a64777a49e560c71e4cd56a43853841da35/TestResultSummaryService/parsers/Parser.js#L11

Deleting all \n, changing it to `/=JAVA VERSION OUTPUT BEGIN=([\s\S]*?)=JAVA VERSION OUTPUT END=/` will work (I really don't know why) we will have empty lines at the beginning and end (this solution will at least work)

[2021-01-11 07:43] OscarQQ commented on #337
ok... according to https://stackoverflow.com/questions/15433188/r-n-r-and-n-what-is-the-difference-between-them
I tried` /=JAVA VERSION OUTPUT BEGIN=\r\n([\s\S]*?)\r\n.*=JAVA VERSION OUTPUT END=/ `and `\r\n` worked!!😭😭 Is this because we are using windows Jenkins machines after the recent release? @llxia @smlambert How shall we fix this issue?

[2021-01-11 16:52] smlambert commented on #337
testc-packet-fedora33-intel-1 - not sure if its part of the set of static Docker containers that @sxa recently enabled, so it may behave differently than a static machine...

[2021-01-11 17:03] sxa commented on #337
Yes it is. Anything with testc at the start is one of the docker containers

[2021-01-11 17:04] sxa commented on #337
It is Fedora which we didn't have any of previously, but definitely not Windows

[2021-01-11 23:12] #335 closed

[2021-01-12 15:11] #337 closed

[2021-01-14 17:08] sxa commented on #180
@llxia Can you set up a script to do that? As a first pass I'm happy with that and then I can look at getting the backups exported off the machine

[2021-01-14 21:43] sophia-guo opened #339 "all links are dead if accidentally hit the sort button?"
1. go to https://trss.adoptopenjdk.net/dashboard
2. click sort button ( did it by accident)<img width="1698" alt="Screen Shot 2021-01-14 at 4 28 13 PM" src="https://user-images.githubusercontent.com/18030625/104652542-40a41180-5687-11eb-9997-6c3659ec9ce6.png">

3. all links dead with the page shows
<img width="645" alt="Screen Shot 2021-01-14 at 4 41 44 PM" src="https://user-images.githubuserconte

[2021-01-14 21:44] sophia-guo opened #340 "Web links are dead if click the sort button under dashboard"
1. go to https://trss.adoptopenjdk.net/dashboard
2. click sort button ( did it by accident)<img width="1698" alt="Screen Shot 2021-01-14 at 4 28 13 PM" src="https://user-images.githubusercontent.com/18030625/104652542-40a41180-5687-11eb-9997-6c3659ec9ce6.png">

3. all links dead with the page shows
<img width="645" alt="Screen Shot 2021-01-14 at 4 41 44 PM" src="https://user-images.githubuserconte

[2021-01-15 16:10] sophia-guo commented on #339
Dup of #340

[2021-01-15 16:10] #339 closed

[2021-01-15 16:17] sophia-guo opened #341 "If combination sort of date and jdk is supported?"
I'd like to check the latest third party builds' status by jdk version. The thing is the combination of date and jdk doesn't work.   We can only sort either by date or by jdk version now. If could we do the sort by combination that would be more helpful.

[2021-01-19 20:31] llxia commented on #180
Sorry, missed your above message. Talked with @OscarQQ , he will help with this issue.

[2021-02-03 10:21] adamfarley opened #354 "Request to remove openjdk15-pipeline from "By Pipelines" page"
Please remove this pipeline from the list, as the upstream jenkins pipeline no longer seems to be in use.

The wider community was given the opportunity to object to this action [last week](https://adoptopenjdk.slack.com/archives/C5219G28G/p1611912741028100), and nobody seemed concerned.

[2021-02-03 13:55] smlambert commented on #354
We will not be removing it right away, this is related to the discussion of how to access the keep forever builds.  We have tagged the final release builds from jdk15 as keep forever.  Currently if we remove this from the view, there is no other direct way through the GUI to access the information.

Related: https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/323#issuecomment-769995601 and a c

[2021-02-04 20:49] llxia opened #355 "Proposal: create live Deep Learning service for analyzing test output"
Thanks to @LongyuZhang , we have the initial Deep Learning (DL) prototype that takes test outputs (from TRSS) as the training data to predict possible issues. The prototype uses Tensorflow for test output classification. It is improved with TF-IDF method and weighted model. We have achieved a lot so far. However, there are lots of work that need to be done. For example, we need to further refine t

[2021-02-04 21:00] smlambert commented on #355
Thanks @LongyuZhang and @llxia !

For other people's reference, Longyu does a good summary of this prototype in this presentation: https://www.crowdcast.io/e/learning-about-deep

This will be a wonderful starting point under which we will engage other community members and some upcoming student programs!

[2021-02-04 22:30] smlambert commented on #355
For fun, and to help track all of the cool initiatives we have at the project, I've codenamed this work... "deep AQAtik" (where tik stands for 'triage in kind').

[2021-02-10 02:55] llxia opened #359 "Update to use highcharts-react-official"
Due to historical reasons, we are using both [highcharts-react-official](https://www.npmjs.com/package/highcharts-react-official) and [react-highcharts](https://www.npmjs.com/package/react-highcharts) in the project. We need to clean up the code and update to use the latest official version `highcharts-react-official`.

[2021-02-11 00:44] smlambert commented on #359
Yep, cool that our use pre-dated the existence of highcharts-react-official and good now that we can try to transition to it.

[2021-02-15 16:40] adamfarley commented on #354
@smlambert - In that case, this is such a small item that perhaps it works better as a subtask within the "new view for archived keep forever results" issue.

Do you have the link for that item?

[2021-02-15 18:00] karianna commented on #354
We're actually still in support for the next week or so IIRC

[2021-02-15 18:12] smlambert commented on #354
Update, for short-term releases we will not keep them, as noted in the item already linked to in the comment above...
(updated decision in: https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/323#issuecomment-776110868)

For long-term releases, we keep building and testing those anyway, so no need for concern on not having a place in the GUI to find them.

jdk15 will be removed...  and jdk17 h

[2021-02-15 18:33] adamfarley commented on #354
Thanks for the info Shelley,

Sounds like we won't need this issue then. Closing.

[2021-02-15 18:33] #354 closed

[2021-02-16 05:17] OscarQQ opened #360 "Update jdkDate parser for various java version"
Our current parser looks for yyyymmdd https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/67ae218ec906fb9168bd81a9de87f090d5c2d701/TestResultSummaryService/parsers/Parser.js#L12
while hot spot and corretto has the form **yyyy-mm-dd**
ex. https://ci.adoptopenjdk.net/job/Test_openjdk11_corretto_sanity.perf_x86-64_linux/296/consoleFull
[code]

[2021-02-16 19:17] OscarQQ commented on #360
closed by https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/362

[2021-02-19 14:57] llxia commented on #329
The Bug Prediction Prototype is merged https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/348

[2021-02-19 16:02] smlambert commented on #329
thanks @llxia !

[2021-02-19 16:02] #329 closed

[2021-02-22 21:58] smlambert commented on #208
We may not need this now that we are using Azure VM agents Jenkins plugin, but I will leave it open for a bit, while we determine if we/others still want to pursue it.

[2021-02-22 22:07] smlambert opened #364 "Add a 'test target execution time' widget"
Related to https://github.com/AdoptOpenJDK/openjdk-tests/issues/2037, create a widget that can display the various average execution times of test targets.

The tables in https://github.com/AdoptOpenJDK/openjdk-tests/issues/2037 were manually created based on querying TRSS API, we can display / visualize this information in a widget in TRSS directly (that will not go stale as it can be refreshed w

[2021-02-22 22:12] smlambert opened #365 "Add 'Soak Matrix' widget"
Related to adding time-based system tests, we will want to run variations of these time-based tests to determine / visualize / tune optimal amount of time required that may cause failures (find issues) (in XX minutes).

This feature can be a building block to further experiments and investigation, including defect injection and using information to potentially train a DL model to optimize time-bas

[2021-02-23 03:23] smlambert opened #366 "Add Renaissance widget to Dashboard"
Much like the recently added Dacapo widget (initially done in https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/342 and further improved with https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/357 and https://github.com/AdoptOpenJDK/openjdk-test-tools/pull/358), we would like to add a widget for Renaissance benchmarks.  Just as PR 342 shows, these changes are done in the client-side.

T

[2021-03-08 18:42] llxia opened #369 "Aborted test build does not show up properly on Grid view"
`<Internal TRSS server>`resultSummary?parentId=6042f2476e8c0e5acacf7669

The test build is `ABORTED`, but it does not show up properly on Grid view. The icon is correct, but it does not have to correct color.

![image](https://user-images.githubusercontent.com/19273206/110365943-a66fa280-8013-11eb-846a-f80790abada6.png)

[2021-03-10 01:51] llxia opened #374 "Create PR build for TRSS"
We need to create PR build for TRSS to do the basic checks. GitHub workflow can be used for creating PR build.

Two possible ways for setting up the environment:
- install the prerequisites (nodejs, MongoDB) on GitHub runner directly
- or launch docker image in GitHub runner

In the first stage, we can just verify TRSS can start successfully.
We can insert sample data and add more API tests at a l

[2021-03-10 01:58] llxia opened #375 "Create docker image for TRSS for new users"
For new users, it will much easier if we have a TRSS docker image for them to try. Sample data should be inserted into database, so users can see the graphs or pipelines.

This docker image can also be used for setup PR build  https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/374

[2021-03-10 19:59] llxia opened #377 "Improve $graphLookup query"
As TRSS stores more and more data, we noticed MongoError: $graphLookup reached maximum memory consumption

[code]

According to the [doc](https://docs.huihoo.com/mongodb/3.4/reference/limits/index.html), `The $graphLookup stage must stay within the 100 megabyte memory limit`. We need to look into improve our $graphLookup query efficiency.

[2021-03-10 22:17] #369 closed

[2021-03-11 00:16] OscarQQ commented on #360
[code]
TRSS will grab 2021-04-20 as jdkDate while 20210305 makes more sense to me, I am wondering how we come up with a java version in the future..

link: internal_jenkins_server/Test_openjdk11_j9_sanity.perf_x86-64_linux/732/consoleFull

[2021-03-11 22:33] LongyuZhang commented on #355
Plans for ML + TRSS project:
- Develop initial prototype for Possible Issue ML project to obtain the ML model;
- Deploy the ML model with Python Flask server, the server needs to process data with the same procedur and parameters from the training process
- In TRSS possible issue, get possible issue with the testname keyword first, and then rank them with ML scores from ML deployment server
- Upda

[2021-03-17 15:37] smlambert commented on #375
FYI @d3r3kk @milderhc

[2021-03-17 15:37] smlambert commented on #208
FYI @d3r3kk @milderhc

[2021-03-18 17:33] smlambert opened #381 "Fix callouts in Perf/Graph dashboards to be more useful"
Currently the callouts on the Perf graphs in the Dashboard popup and then can not be easily clicked on...

As you move the cursor along the graph, the callout changes (content changes to what data is stored in DB for a particular point in the graph).

It is preferable to have this callout be pinnable, or at least not frenetically changing as you try to click on it (wack-a-mole style)...  We should

[2021-03-18 18:38] llxia commented on #375
Three possible use cases:
- production server
- PR builds
- new users

[2021-03-19 21:26] patkarns commented on #381
I can't seem to assign myself but I'll take this issue!

[2021-03-20 15:31] smlambert opened #382 "Create doc and doc/diagrams directories for this repo"
Similar to the structure in [openjdk-tests/doc](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/doc) with initial contents of doc/diagrams to be the mindmap diagram attached to this issue.

As we discuss and enhance the designs for the various services in this repo, we will add documentation into these folders.

![TRSS_Mind_Map](https://user-images.githubusercontent.com/2836948/111875335

[2021-03-21 06:32] OscarQQ commented on #282
parentId=604c213573d9079b60d50806

[2021-03-21 12:29] smlambert commented on #329
Interesting visualization for this type of data (behavioural code analysis): https://codescene.com/blog/codescene-prioritize-technical-debt-in-react/

[2021-03-21 22:41] OscarQQ commented on #360
@smlambert https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.perf_x86-64_linux/481/consoleFull
A lot of builds have
[code]
where 2021-04-20 hasn't come yet...

[2021-03-22 00:07] OscarQQ commented on #360
hs has java version as
[code]
example link: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.perf_x86-64_linux/674/consoleFull
Our TRSS parser regex is `/\s([0-9]{4})-?(0[1-9]|1[012])-?(0[1-9]|[12][0-9]|3[01])/` which will look for a space first, which now it should be a '-'

[2021-03-22 05:56] aahlenst commented on #360
That's the release date. 11.0.11 will come out on that day.

[2021-03-22 18:07] llxia commented on #208
I did some experiments last year. It is WIP. For detail, please see my personal branch: https://github.com/llxia/openjdk-test-tools/tree/azure

[2021-03-23 12:27] karianna commented on #375
@milderhc is working on this

[2021-03-25 15:17] adamfarley opened #387 "JDK16 Pipeline Test Results not shown in TRSS"
**Summary**
JDK16 Build & Test Pipeline 335 is not yet complete, however many of the tests finished hours ago, and the results are not yet on TRSS.

Investigation requested.

**Useful Links**
Grid View: https://trss.adoptopenjdk.net/resultSummary?parentId=605bce265730424dbcb6d1fb
Jenkins Pipeline link: https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk16-pipeline/335/consoleFull
Example of

[2021-03-25 15:36] adamfarley commented on #387
Issue was caused by streaming no9t turned on on the build monitoring page.

Resolved as per https://adoptium.slack.com/archives/C5219G28G/p1616686141073900?thread_ts=1616684944.072800&cid=C5219G28G

[2021-03-25 15:36] #387 closed

[2021-03-30 02:23] smlambert opened #388 "Update the parser for Renaissance to grab all iteration values"
Initial Renaissance parser was added to aid addition of the Graph in the Dashboard, but it only grabs the first iterations value (and ignores the remaining iterations, by default ignores the 28 other iterations).

We can now enhance the Renaissance parser to grab all the iterations values, and calculate the mean (as the stored value and the one represented in the graph, instead of the first instan

[2021-03-30 02:23] smlambert commented on #388
FYI @yanshan24 @llxia

[2021-03-30 10:34] smlambert commented on #366
Initial widget has now been added to the Dashboard, enhancements will be handled under separate issues.

[2021-03-30 10:34] #366 closed

[2021-03-31 06:58] avishreekh commented on #382
Hi! I am an Outreachy applicant and I wish to contribute to the DeepAQAtik project. Can I work on this issue?

[2021-03-31 14:22] smlambert commented on #382
Yes, please that will be great if you work on this issue @avishreekh !

[2021-04-01 03:51] smlambert commented on #289
FYI @avishreekh

[2021-04-01 05:27] avishreekh commented on #289
Thank you @smlambert ! I would like to take up this issue.

[2021-04-01 07:43] avishreekh commented on #289
I believe that I am required to write a function that encapsulates the two fetch statements and this is required within `test-result-summary-client`. Should I be adding the function to the `Utils.js` file in the utils sub-directory?

[2021-04-01 12:16] smlambert commented on #289
re: https://github.com/adoptium/aqa-test-tools/issues/289#issuecomment-811716218 - hi @avishreekh, for now since its just used twice in the same file, you can keep the common function in TopLevelBuildTable.jsx

I believe the Util.js file is for the server side, and not imported or used by client code.

(FYI @llxia - in case you have a different opinion)

[2021-04-01 15:46] avishreekh commented on #289
Thank you @smlambert . I will add the function to the same file.

[2021-04-01 16:17] LongyuZhang opened #395 "Update git repo names for possible related issues"
Currently, when a test fails, we use Github API to search possible issues in related GitHub repos, see Issue: https://github.com/adoptium/aqa-test-tools/pull/293.
Since we added some new repos to Adoptium, we can add following repos when searching possible issues:
- https://github.com/adoptium/aqa-systemtest
- https://github.com/adoptium/TKG

Modifications can be done in [PossibleIssues.jsx](https

[2021-04-01 16:17] LongyuZhang commented on #395
FYI @smlambert @llxia

[2021-04-01 16:48] avishreekh commented on #289
Please let me know if the PR fixes the issue or if any changes are needed @smlambert @llxia

[2021-04-01 17:03] avishreekh commented on #289
I also think that the occurrence of these fetch statements is present in other files too. For example, please check https://github.com/adoptium/aqa-test-tools/blob/68c8d8fc151b222637b34a54a9f65436897e1121/test-result-summary-client/src/Build/AllTestsInfo.jsx#L35-L38

[2021-04-01 17:03] smlambert commented on #395
FYI @jwnmoon

[2021-04-01 17:04] jwnmoon commented on #395
Thank you! @smlambert
I will start working on this one.

[2021-04-01 17:17] smlambert commented on #289
ah, in that case we should put it in a common utils file that can be used by the client (I find this: https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summary-client/src/utils/Utils.js)

[2021-04-01 17:20] avishreekh commented on #289
Sure. Does the function and usage look good to you (if yes, then I can replicate this in related files and add the function to the utils file)

[2021-04-01 17:48] smlambert commented on #289
Because we don't yet have PR test builds set up in this repo, I am going to ask you to run the code locally (as per these instructions: https://github.com/adoptium/aqa-test-tools/tree/master/TestResultSummaryService#local-rundevelopment-steps) and do some verification on the changes in your PR (if you have not already done so).

[2021-04-01 17:49] smlambert commented on #395
Fantastic, thanks @jwnmoon!  and because this repository is under the adoptium github org, you will also need to create and Eclipse account and sign the ECA (FAQ here: https://www.eclipse.org/legal/ecafaq.php), at some point before your PR would be merged.  :)

[2021-04-01 18:12] LongyuZhang opened #397 "Save the ML model with best performance"
Currently for our ML training process, we save a specific ml model for deployment. For better performance, we can compare the performance with multiple models, and save the best one for deployment.
Related Issues:
- https://github.com/adoptium/aqa-test-tools/issues/355
- https://github.com/adoptium/aqa-test-tools/pull/368

[2021-04-01 18:12] LongyuZhang commented on #397
FYI @smlambert @llxia

[2021-04-01 18:13] LongyuZhang commented on #397
@avishreekh

[2021-04-02 04:06] avishreekh commented on #397
Thank you @LongyuZhang ! I would like to take up this issue.
(I am an Outreachy applicant this year and am looking forward to contributing to issues that are related to the "DeepAQAtik" project)

[2021-04-02 04:11] avishreekh commented on #289
Sure. I will try this out :smile:

[2021-04-02 11:26] avishreekh commented on #289
1. Hi @smlambert . I completed the local setup with mongodb and nodejs. I am however not able to access the Jenkins instances (504 Gateway Timeout). Could you please suggest why this might be happening?
2. Could you please provide a brief summary of this service so that I can test my changes locally?

[2021-04-02 11:54] smlambert commented on #289
Hi @avishreekh - Our Jenkins server is down, so its replying with that error.  For now you will have to park this, until its brought back to life.

Short summary is that TRSS (Test Results Summary Service) is a monitoring service that allows us to see the health of our DevOps pipelines.  TRSS fetches test results (from multiple servers) and allows us to summarize, search, sort, filter and visualiz

[2021-04-02 13:15] avishreekh commented on #397
Please let me know if the fix looks fine or if anything else is required @LongyuZhang @smlambert

[2021-04-02 13:17] avishreekh commented on #289
Thank you for the detailed description @smlambert. I will explore the service till the Jenkins server is up then. Thank you!

[2021-04-02 21:21] smlambert commented on #382
Closed via https://github.com/adoptium/aqa-test-tools/pull/392

[2021-04-02 21:21] #382 closed

[2021-04-03 00:44] smlambert opened #399 "Add a Release Summary report"
Offer a way (a button?) that would generate a "Release Summary" report.  Something like this can currently be done using trss-parser, which queries the TRSS API, but we could also just integrate it into a view in TRSS.   Initially a Release Summary can be populated by the same contents as is generated by trss parser (see: https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/doc/Triage.md#trss

[2021-04-03 00:46] smlambert commented on #399
FYI @avishreekh

[2021-04-03 03:01] avishreekh commented on #399
Thank you @smlambert. I would like to take up this issue :smile:

[2021-04-03 03:53] avishreekh commented on #399
Hi @smlambert. I went through the various components of this issue and had some thoughts on the initial implementation.

**Milestone #1**

***Idea***
Add a button that generates a release summary report for a given pipeline. The summary is the same as that generated by the `trss-parser`.

***Questions***
What happens when the button is clicked?
1. Should the entire summary be displayed in the brow

[2021-04-03 11:42] smlambert commented on #399
An example of an output from trss-parser (has some manual edits after being pasted to that issue 197) is at:
https://github.com/AdoptOpenJDK/TSC/issues/197#issuecomment-764531850

That example is not terribly long, but agree, we may have a case where a pipeline is very large (launches many tests) AND fails horribly which may make the report very long.  We may have to set a cutoff of how much of a

[2021-04-03 14:40] avishreekh commented on #399
Hi @smlambert . I have attempted to solve the first part of this issue. A button has been added on the `Build Details` page. On being clicked, this button redirects the user to the `Release Summary Report`. For now, the report only contains details provided by the `trss-parser`.
Please let me know what you think of this!

[2021-04-04 07:27] avishreekh commented on #399
**Milestone #2**

***Idea***
For each failed test, add a link to possible issues (each test now has links pointing to deep history and possible issues).

[2021-04-04 16:51] avishreekh commented on #399
**Milestone #3**

***Idea***
The title and body of the issue are passed as parameters of the URL while creating a new issue on GitHub. This results in an error when the body of the URL is too long (i.e., in the case of long reports). A workaround for this could be a `Copy to Clipboard` icon which serves two main purposes:
1. Prevents excessively long scrolling by users when copying a long report.

[2021-04-04 16:53] avishreekh commented on #399
Here is a [demo of the feature](https://drive.google.com/file/d/1aC7axyHECdxTzeGrDli6Fv-91y3nNtOw/view?usp=sharing).

Please let me know what you think of this and if any changes are required. :smile:

[2021-04-07 01:16] #397 closed

[2021-04-07 16:13] llxia opened #404 "Add TRSS machine as Jenkins node"
In order to auto-deploy TRSS updates on the server, it would be nice to add TRSS machines as Jenkins node in https://ci.adoptopenjdk.net/. In this way, we can update the code on TRSS using a Jenkins job.

Note: This job can be potentially for both updates/upgrades and data backups.

[2021-04-07 17:47] LongyuZhang commented on #395
Closed by https://github.com/adoptium/aqa-test-tools/pull/402
Thanks for working on this! @jwnmoon

[2021-04-07 17:47] #395 closed

[2021-04-07 18:02] #388 closed

[2021-04-07 18:54] llxia commented on #404
TODO:

- [ ] create a script to run cmds for updating server code
https://github.com/adoptium/aqa-test-tools/tree/master/TestResultSummaryService#deployment-instructions
- [ ] add TRSS as Jenkins node
- [ ] create Jenkins job to run the script (we can schedule the job to run every weekend)

[2021-04-07 21:10] jwnmoon commented on #404
Hello,
I'm interested in working on this issue. Could you give me some more information on how to create the script?

[2021-04-07 21:23] smlambert commented on #404
In order to be able to test the script that you will write, it will be helpful for you to set yourself up to run TRSS locally (following these instructions: https://github.com/adoptium/aqa-test-tools/tree/master/TestResultSummaryService#local-rundevelopment-steps).

Once you do that, then next step might be good to try actually running the [deployment steps](https://github.com/adoptium/aqa-test-to

[2021-04-15 03:12] #399 closed

[2021-04-15 14:59] adamfarley opened #407 "Incorrect Test Targets Displayed for extended.perf run"
**Summary**

In a deeply unusual extended.perf run, several failed test targets are identified by TRSS as "disabled", and several more are identified as "failed" when they actually passed.

https://trss.adoptopenjdk.net/allTestsInfo?buildId=60735c4947db975731f280c2&limit=5&hasChildren=false

**Details**

This job is unusual in several ways, as described [here](https://github.com/AdoptOpenJDK/openj

[2021-04-16 20:18] LongyuZhang opened #408 "Deploy production ml server on TRSS machines"
Currently, our ml server has been able to run locally to improve TRSS possible issue function, but deploying it on servers requires extra configurations and softwares. We plan to set it up with Nginx, Unicorn, and Flask, on TRSS machines.
Related Issue: https://github.com/adoptium/aqa-test-tools/issues/355

[2021-04-20 17:29] LongyuZhang opened #409 "Fetch possible issue with authenticated Github API request"
Currently, the possible issue function uses unauthenticated Github API requests, so the rate limit allows for only 60 requests per hour, see [here](https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting) for more details. To further improve this function, we need to explore using authenticated API request for it.
Related Issue: https://github.com/adoptium/aqa-test-tools/i

[2021-04-20 17:30] LongyuZhang commented on #409
FYI @smlambert @llxia

[2021-04-20 17:30] LongyuZhang commented on #409
FYI @avishreekh

[2021-04-21 04:32] avishreekh commented on #409
Thank you @LongyuZhang.

The [Search API](https://docs.github.com/en/rest/reference/search#rate-limit) seems to follow rate limits different from (and better than) the other REST APIs that GitHub offers. Unauthenticated Search requests are limited to 10 per minute. This rate is 30 per minute in the case of authenticated requests.

Would these limits be sufficient for the use case here (600 per hou

[2021-04-21 15:27] avishreekh commented on #409
Thank you for the clarification @LongyuZhang. I would like to work on this issue.

[2021-04-27 18:02] #408 closed

[2021-04-27 19:03] llxia commented on #404
@jwnmoon any progress on this issue? Is there anything we can help with?

[2021-04-28 13:45] llxia commented on #409
For the documentation, it seems unauthenticated Search requests are limited to 10 per minute per IP. In most cases, it means 10 searches per minute per user. If this is the case, I think 10 searches per minute per user is much better than 30 searches per minute for one authenticated user. I think the existing code works better and we should not over-design this.

[2021-04-28 23:55] smlambert commented on #404
In contact with @jwnmoon - and will unassign for now.

[2021-04-29 14:38] LongyuZhang opened #412 "Data Collection for deep AQAtik"
To automate the data collection process for deep AQAtik, we need to investigate and work on the following functions:
- [ ] Collect all open issue contents in related repos, e.g. [openjdk-tests/issues](https://github.com/AdoptOpenJDK/openjdk-tests/issues)
- [ ] Based on the issue contents, collect corresponding original test outputs from TRSS database or Jenkins output if exist.
- [ ] After storing

[2021-04-29 14:38] LongyuZhang commented on #412
FYI @smlambert @llxia

[2021-04-29 14:39] LongyuZhang commented on #412
FYI @avishreekh

[2021-04-30 16:01] llxia commented on #412
Talked with @LongyuZhang , below are some of the details:

We should query git repos at an appropriate frequency (every 30 mins?).

- relationship should be store in DB (i.e., MongoDB)
[code]
- text data (git issue content file, test output file) should be stored on the file system
- we can use `since` to limit git query for issues created/updated after a certain time that matches with our query i

[2021-05-03 15:49] LongyuZhang opened #414 "Update references to AdoptOpenJDK and Eclipse repos"
There are some references to Github organizations and repos that need updating in this repository. Org names and repo names need to be searched for and updated.

Test repos moved/renamed:
adoptopenjdk/openjdk-tests -> adoptium/aqa-tests
adoptopenjdk/openjdk-systemtest -> adoptium/aqa-systemtest
adoptopenjdk/openjdk-test-tools -> adoptium/aqa-test-tools
adoptopenjdk/STF -> adoptium/STF
adoptopenjdk

[2021-05-03 16:27] SAY-droid427 commented on #414
@LongyuZhang Could you please assign this issue to me?

[2021-05-03 17:08] SAY-droid427 commented on #414
@LongyuZhang Should I change the AdoptOpenJDK server name to Adoptium server too?

[2021-05-03 17:45] LongyuZhang commented on #414
I think we haven't updated the name for server, e.g. https://ci.adoptopenjdk.net/, so you can update the git repo names first. Thanks.

[2021-05-03 17:50] llxia commented on #414
Yes, please do not update any Jenkins URL or TRSS server URL. We only need to update git repo names.

[2021-05-04 13:46] avishreekh commented on #412
Thank you for the elaborate discussion @llxia. Please let me know if I can work on this.

[2021-05-04 13:52] llxia commented on #412
Please go ahead. Thanks a lot for working on this!

[2021-05-04 13:59] avishreekh commented on #412
I was wondering if we could use GitHub webhooks instead of polling using APIs. That way, we will be religiously notified when a new issue is added and we won't have to keep tracking it.

Please let me know your thoughts on this.

Thank you

[2021-05-04 14:35] LongyuZhang commented on #412
It is a good idea to use GitHub `webhooks` to monitor new issues, but for the initial collection of existing issues, the `issue api` may work better. We can try to use them separately for these two purposes if possible. Thanks.

[2021-05-04 14:52] llxia commented on #412
I agree, since we need to query multiple repos, I think git API is more flexible/easy. I think it is a good idea to keep an eye on alternatives (i.e., webhook, github workflow, etc), so we know what are the advantages and disadvantages of using them.

[2021-05-04 16:23] avishreekh commented on #412
Thank you @LongyuZhang @llxia! I will first try to implement the initial collection of issues using the `Issues API` and poll for new issues using the `since` parameter. The Webhook integration can be done later if it is found to be a better alternative. I will also look for other alternatives in the meantime.

Please let me know if this sounds like a good strategy to begin with or if any modifica

[2021-05-04 16:37] LongyuZhang commented on #412
Sounds good! Thanks @avishreekh

[2021-05-04 18:08] #414 closed

[2021-05-04 22:33] OscarQQ commented on #282
closed via https://github.com/adoptium/aqa-test-tools/pull/413

[2021-05-04 22:33] #282 closed

[2021-05-05 13:45] llxia commented on #412
For now, we are querying git for issues. But please keep in mind, we may not limit to git issues. It could be other bug-tacking systems.

[2021-05-06 17:37] llxia commented on #359
We should also update highcharts version to the latest.

[2021-05-06 17:39] llxia commented on #359
@OscarQQ could you help with this issue when you have time? If it is easier, we can upgrade highcharts version first, then update to use one library.

[2021-05-11 15:23] llxia opened #429 "Add Jenkins link for each test"
In TRSS, if a user navigates into test view ([allTestsInfo](https://trss.adoptopenjdk.net/allTestsInfo?buildId=60999b72d76560770616d250&limit=5&hasChildren=false )), there is no link back to Jenkins job. As we are running test builds in parallel, tests may come from different child test jobs. It is more convenient if we can provide a Jenkins job link for each test.

Details:
In Actions, we can add

[2021-05-11 15:28] llxia opened #430 "artifact link in the test output is missing"
artifact link in the test output is missing. We should check and add it back in the test output.

https://trss.adoptopenjdk.net/output/test?id=6099df44d76560770617355b

https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.functional_ppc64_aix/128/

There are two types of artifact links. One is on Jenkins master and the other is on artifactory.

[2021-05-12 18:16] llxia commented on #359
https://github.com/adoptium/aqa-test-tools/pull/416 is merged

[2021-05-13 13:18] llxia commented on #429
add jenkins link icon at test table (#432) is delivered. Close this issue.

[2021-05-13 13:18] #429 closed

[2021-05-18 11:09] karianna commented on #430
@OscarQQ is this fixed by your referenced PR?

[2021-05-18 14:00] OscarQQ commented on #430
Yes it’s fixed

[2021-05-19 13:44] #430 closed

[2021-05-25 16:59] #289 closed

[2021-05-29 20:53] d3r3kk commented on #375
@milderhc to update as he progresses

[2021-06-02 00:38] smlambert opened #437 "Deep AQAtik: Data collection and processing"

[2021-06-02 00:40] smlambert opened #440 "Deep AQAtik: Model deployment and feedback"

[2021-06-02 00:41] smlambert opened #441 "Deep AQAtik: Pipeline Automation"

[2021-06-02 00:42] smlambert opened #439 "Deep AQAtik: Testing and Documentation"

[2021-06-02 01:51] smlambert opened #438 "Deep AQAtik: Model selection, training and optimization"

[2021-06-02 02:20] smlambert commented on #381
I have not closed this despite #403 being merged, as I do not see the popup window in place of a callout for Dacapo (do I have to change a setting in my browser / Chrome?).  Also, I think the callout still exists for Renaissance.

[2021-06-02 14:39] llxia commented on #322
PR is delivered. Close this issue

[2021-06-02 14:39] #322 closed

[2021-06-03 14:15] LongyuZhang opened #442 "Prepare technical documents for Deep AQAtik project"
Since Deep AQAtik project is progressing, we need to document our works and plans for it.
Following are some related infos:
- AQAvit Meeting on Jun. 2, 2021: [video](https://bluejeans.com/s/5DUF6Z4JEiq), [slides](https://drive.google.com/drive/folders/19pfnQIU68uAuX7nnWO5ZlpJZAl3Hyi4f?usp=sharing) (may need download to display properly)
- General plan and other related ideas: issue https://github.

[2021-06-03 14:16] LongyuZhang commented on #442
FYI @jabrena @smlambert @llxia Thanks.

[2021-06-03 19:38] LongyuZhang opened #443 "Deep AQAtik: Data Process - Extract Jenkins outputs quoted in Github issue contents"
Currently we have been able to collect GitHub issue contents with GitHub Issue API, as mentioned in issue https://github.com/adoptium/aqa-test-tools/issues/412 and its related PRs.

We need to process issues that quote Jenkins output,  extract and save the output. Following is an example with issue https://github.com/adoptium/aqa-tests/issues/2570:
- In our DB, this issue is stored like this:
`{'c

[2021-06-03 19:43] LongyuZhang commented on #443
FYi @2001asjad
FYI @smlambert @llxia

[2021-06-03 20:33] LongyuZhang opened #444 "Deep AQAtik: Data Process - Collect (TRSS) Jenkins outputs based on Github issue contents"
Currently we have been able to collect GitHub issue contents with GitHub Issue API, as mentioned in issue https://github.com/adoptium/aqa-test-tools/issues/412 and its related PRs.

Based on these collected data, we need to process them to find related Jenkins Links, and then collect corresponding Jenkins outputs from (TRSS) database for later ML model training and evaluation. Following is an exam

[2021-06-09 10:19] 2001asjad commented on #443
FYI @LongyuZhang I am working on this.

[2021-06-10 23:16] LongyuZhang opened #447 "Collect both `open` and `closed` GitHub issues"
To enable predicting test failure types later, we need to collect both `open` and `closed` issues with their original `labels`, several steps are required to achieve this goal:
- store `labels` info when collect GitHub issues;
- collect both `open` and `closed` issues;

Related to https://github.com/adoptium/aqa-test-tools/issues/412

[2021-06-10 23:16] LongyuZhang commented on #447
FYI @avishreekh @smlambert @llxia

[2021-06-11 13:32] llxia opened #449 "Date is proceed correctly"
http://trss1.fyre.ibm.com/output/build?id=60c322dae4632d7f59fa50f2

![image](https://user-images.githubusercontent.com/19273206/121693777-6f3be200-ca97-11eb-96ae-917c9fb7eef9.png)

I think it is related to https://github.com/adoptium/aqa-test-tools/pull/406

[2021-06-13 14:27] jabrena commented on #442
Hi @LongyuZhang, @smlambert

I am going to review the current documentation.

What repository is the best place to locate the documentation and diagrams?

Juan Antonio

[2021-06-14 00:08] LongyuZhang commented on #442
Hi @jabrena Thanks for the help!
I am thinking about creating a new folder `technicalDocuments` under [MachineLearningPrototype](https://github.com/adoptium/aqa-test-tools/tree/master/MachineLearningPrototype) folder, and then in [README](https://github.com/adoptium/aqa-test-tools/blob/master/MachineLearningPrototype/README.md), add a section to introduce the link to this folder. @smlambert @llxia

[2021-06-14 01:11] smlambert commented on #442
@LongyuZhang - I had mentioned to @jabrena to utilize the [doc](https://github.com/adoptium/aqa-test-tools/tree/master/doc) directory to add/organize documentation in subfolders under that... but I am not opposed to your suggestion or other ways to organize it.  (we can also put it somewhere and decide to move it later if we decide a different organization is better).

[2021-06-14 13:49] LongyuZhang commented on #442
@smlambert I did not notice the `doc` folder before. It is a good idea to put the documentation in the `doc` folder. Thanks.

[2021-06-14 18:48] jabrena commented on #442
Hi,

I have just uploaded the docs in the path.
https://github.com/adoptium/aqa-test-tools/pull/453/files

This week, I will collect the path for the different components and I will run the components in isolation.

Cheers

[2021-06-16 06:13] avishreekh commented on #447
Hi @LongyuZhang!

Thank you for letting me work on this. Please let me know if my understanding of the following is correct:

This information would be stored on the DB along with other details of the issue (with the key `labels`).

So we now have to collect *all* issues for a given repository. Do these need to be stored in separate tables?

If both open and closed issues are stored in the same ta

[2021-06-16 14:46] LongyuZhang commented on #447
Hi @avishreekh  Thanks for working on this issue.
- Yes, for `label` info, we store them in DB along with other details with key `labels`.
- For `open` and `closed` issues, we can store them in the same DB, since we can filter with the key `state` later if needed, and the `state` may change if a issue closes or reopens.
- Current data collection code has parameter [`open`](https://github.com/adopt

[2021-06-16 15:04] llxia commented on #447
@avishreekh could you provide sample data in DB? Thanks

[2021-06-16 15:24] avishreekh commented on #447
[code]

@llxia this is one sample from the old data collection pipeline.

[2021-06-19 17:49] AshuKV commented on #449
I want to work on this issue. Please assign this issue to me.

[2021-06-19 17:52] AshuKV commented on #437
I want to work on this issue. Please assign this issue to me.

[2021-06-19 18:31] smlambert commented on #437
hi @AshuKV - this one is an Epic (that contains many sub-issues) that is part of the Deep AQAtik project which is one of our Outreachy projects.  Since you've also claimed https://github.com/adoptium/aqa-test-tools/issues/449, I will leave you to focus on 449 first.

[2021-06-20 00:27] LongyuZhang commented on #444
FYI @2001asjad

[2021-06-21 14:02] llxia opened #457 "Capture test output in create new git issue"
In `Creat New Git Issue`, we capture lots of information, such as java version, rerun link, Jenkins job link, TRSS link, etc. It will be useful if we can capture test output in the issue directly. The users can analyze the issue in one place (without clicking other links) and Jenkins and TRSS links may be purged after a period of time.

<img src=https://user-images.githubusercontent.com/19273206/1

[2021-06-21 14:43] 2001asjad commented on #444
Thank You @LongyuZhang, I will definitely want to work on this issue.

[2021-06-21 16:40] smlambert commented on #449
Ah, the importance of assignments.  @OscarQQ has a PR for this one, so I will remove @AshuKV as assignee, and since we've moved these repos under Adoptium github org, I can no longer assign someone, without them first posting a comment to the issue (or potentially me tagging them FYI @OscarQQ ).

[2021-06-21 16:41] smlambert commented on #449
Update: tagging people doesn't work, in order to assign this one to Oscar, he will have to add a comment.

[2021-06-21 16:42] smlambert commented on #449
@AshuKV - are you coming in as mentor applicant for open-source days?  Let me know if you need help selecting a different issue to work on.

[2021-06-21 16:42] OscarQQ commented on #449
Self assigned :)

[2021-06-21 17:22] llxia opened #458 "Highlight for Adoptium Logo is not displayed correctly"
https://github.com/adoptium/aqa-test-tools/pull/448 added Adoptium Logo, but the highlight is not displayed correctly

<img src=https://user-images.githubusercontent.com/19273206/122802151-045a8a00-d293-11eb-913b-ced710414a36.png width=600 />

https://trss.adoptium.net/

[2021-06-21 17:37] LongyuZhang commented on #444
Our first step is to find patterns to extract `jenkins_link` and `testname` from issue content.
For jenkins links, we mainly have:
-  Adoptium Jenkins, the links are usually pasted directly, e.g. `Failing job link: https://ci.adoptopenjdk.net/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux/33/consoleFull` mentioned in https://github.com/adoptium/aqa-tests/issues/2570#issue-877424936.
- Internal

[2021-06-21 17:38] AshuKV commented on #449
Yes, I am currently interested for mentorship for open-source days. Please help me in selecting a different issue to work upon. That would surely help. Thanks

[2021-06-21 17:39] LongyuZhang commented on #443
Close this issue since PR https://github.com/adoptium/aqa-test-tools/pull/454 has been merged. Thanks @2001asjad .

[2021-06-21 17:39] #443 closed

[2021-06-21 19:01] smlambert opened #459 "Update the background colour and highlighted sections for TRSS"
Since we rebranded TRSS with the Adoptium colour codes, the highlighting and background colours used should also get updated (as it looks a bit odd).

Look at trss.adoptium.net or see:
<img width="507" alt="Screen Shot 2021-06-20 at 2 23 48 PM" src="https://user-images.githubusercontent.com/2836948/122813346-daa85f80-d2a0-11eb-9cdc-327b4340ea31.png">

the lighter blue behind Test Results Summary s

[2021-06-21 19:42] llxia commented on #458
dup of https://github.com/adoptium/aqa-test-tools/issues/459

[2021-06-21 19:42] #458 closed

[2021-06-21 20:00] smlambert commented on #458
ah, sorry @llxia I didn't see that you'd already created the issue! Looking for good issues to hand to our GHC open-source days mentors (see https://github.com/adoptium/aqa-test-tools/issues/449#issuecomment-865221281).

[2021-06-21 20:18] smlambert commented on #449
@AshuKV - for a good first warm-up issue, you could look at #459.  for something more complex, #457 or https://github.com/adoptium/aqa-test-tools/issues/364 would be good choices.

[2021-06-22 02:03] LongyuZhang opened #460 "Use TRSS API to collect issue related test output"
As mentioned in Issue https://github.com/adoptium/aqa-test-tools/issues/444, we extract Jenkins link and Testname from Github issue contents. Then we can use TRSS API to collect related Jenkins output with following steps.
- [`getOutputByTestInfo API`](https://github.com/adoptium/aqa-test-tools/blob/37e7922ddba3cd2ab9cf68cebd5c706bdf917d1d/TestResultSummaryService/routes/getOutputByTestInfo.js#L5)

[2021-06-22 02:10] LongyuZhang commented on #447
Thanks @avishreekh for fixing this issue!

[2021-06-22 02:10] #447 closed

[2021-06-22 02:26] LongyuZhang opened #461 "Rank predicted labels with trssml server"
Currently, trssml server returns only the label with the highest probability, we need to return more labels and rank them, since TRSS possible issue function lists multiple issues.

Related: https://github.com/adoptium/aqa-test-tools/issues/355

[2021-06-22 03:02] LongyuZhang opened #462 "Provide TRSS server url based on Jenkins link"
Since we have multiple TRSS servers to monitor internal and adoptium Jenkins, for deep AQAtik project, we plan to have a function to query TRSS severs to fetch Jenkins output.
E.g. given a Jenkins link `https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_x86-64_linux/122` and testname `jit_hw_1`,
we query trss servers listed in a configure file (which can be a json file) in seque

[2021-06-22 03:02] LongyuZhang commented on #462
FYI @avishreekh

[2021-06-22 05:26] OscarQQ commented on #457
https://github.com/adoptium/aqa-test-tools/blob/37e7922ddba3cd2ab9cf68cebd5c706bdf917d1d/TestResultSummaryService/routes/getErrorInOutput.js#L4
right now `Unhandled exception` is captured, and 10 lines of output after the keywords

[2021-06-22 13:46] llxia commented on #458
No worries. yes, I saw the comments, and I will create some issues. :)

[2021-06-22 13:51] llxia commented on #409
Close this issue as TRSS does not need to use authenticated Github API requests at the moment.

[2021-06-22 13:51] #409 closed

[2021-06-22 13:52] llxia commented on #257
This feature is implemented. Close this issue.

[2021-06-22 13:52] #257 closed

[2021-06-22 14:01] llxia opened #463 "Display closed issues in Possible Issues"
Currently, we only show the open issues in `Possible Issues`. We should also show possible matches for the closed issues.

https://trss.adoptium.net/possibleIssues?buildId=6009aeea2bad78506655d014&buildName=Test_openjdk15_hs_extended.perf_x86-64_mac&testId=6009afd42bad78506655d5e7&testName=renaissance-db-shootout_0

![image](https://user-images.githubusercontent.com/19273206/122937534-0dedfb80-d34

[2021-06-22 15:48] llxia opened #464 "Jenkins link does not work in search"
Jenkins link does not work in search. It cannot be clicked.

https://trss.adoptium.net/searchResult?buildId=60d0d5b93f2fbf5bdac8fbd5&searchText=jit
![image](https://user-images.githubusercontent.com/19273206/122957052-8f00bf00-d34f-11eb-99ec-abe5359d6dec.png)

[2021-06-22 16:27] llxia opened #466 "Fix warnings in TRSS"
It would nice to get some help to fix the following warnings in TRSS.

[code]

[2021-06-22 19:59] llxia opened #469 "Display issue creator in Possible Issues"
We should add the issue creator column in the Possible Issues

https://trss.adoptium.net/possibleIssues?buildId=6009aeea2bad78506655d014&buildName=Test_openjdk15_hs_extended.perf_x86-64_mac&testId=6009afd42bad78506655d5e7&testName=renaissance-db-shootout_0

![image](https://user-images.githubusercontent.com/19273206/122937534-0dedfb80-d340-11eb-93cb-81e2d067f29f.png)

[2021-06-22 21:50] llxia opened #470 "Add Jenkins link in deep history"
In Deep History view, it would be nice if we also show Jenkins links

https://trss.adoptium.net/deepHistory?testId=60d0f9ac3f2fbf5bdac90a38

![image](https://user-images.githubusercontent.com/19273206/123004268-61813900-d382-11eb-9c2c-434f3a579fd8.png)

[2021-06-22 21:52] llxia opened #471 "Add testReport link in deep history"
In the Deep History view, it would be nice if we also show testReport links https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_arm_linux/220/testReport/

https://trss.adoptium.net/deepHistory?testId=60d0f9ac3f2fbf5bdac90a38

![image](https://user-images.githubusercontent.com/19273206/123004268-61813900-d382-11eb-9c2c-434f3a579fd8.png)

[2021-06-22 21:54] llxia opened #472 "Allow user to sort on Start Time in deep history"
In the Deep History view, it would be nice user can sort on the start time.

https://trss.adoptium.net/deepHistory?testId=60d0f9ac3f2fbf5bdac90a38

![image](https://user-images.githubusercontent.com/19273206/123004268-61813900-d382-11eb-9c2c-434f3a579fd8.png)

[2021-06-23 19:15] #471 closed

[2021-06-23 19:21] llxia commented on #470
example: https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summary-client/src/Build/DeepHistory.jsx#L97

[2021-06-24 11:56] avishreekh commented on #462
Thank you @LongyuZhang!

[2021-06-25 14:23] llxia opened #476 "Add Build Name column search in Build Detail"
We should add Build Name column search in Build Detail page, so users can easily find the builds that they are looking for.

https://trss.adoptium.net/buildDetail?parentId=60d4cc7ad4a82524cf6c2d06&buildResult=!SUCCESS

![image](https://user-images.githubusercontent.com/19273206/123438779-0d9f6b80-d59f-11eb-90d1-b4f7c1942624.png)

Example: https://github.com/adoptium/aqa-test-tools/blob/b8d36b51170

[2021-06-25 14:33] llxia opened #477 "Add SDK build results in Grid view"
The Grid view is designed for displaying test results. In the case where the SDK build job fails, no test job will be triggered. If the users only check Grid view, it is hard to know if there is no test build triggered for the platform (no action needed) or the SDK build job fails on the platform (triage is needed). If we can display failed SDK builds in Grid view, it will help users that only che

[2021-06-25 18:53] llxia opened #479 "Test results inconsistent in Grid view"
In Grid view, we display the root build result to show the overall build result. However, the root build does not seem to reflect all child job results. That is when the child jobs fail, the root build result can still be green. To avoid confusion, we should not display root build results in the test result section. We should display test results only.

<img width="1384" alt="Screen Shot 2021-06-2

[2021-06-26 01:25] smlambert commented on #479
One way to address this is to just remove the SUCCESS wording completely from the view, since it doesn't add to the users knowledge.  Having the 98.88% listed under AQA Test Results and the other info is sufficient.

[2021-06-26 01:31] smlambert commented on #360
is this the same as https://github.com/adoptium/aqa-test-tools/issues/449?

[2021-06-28 13:40] llxia commented on #360
I think the PR of this issue caused #449.

[2021-06-28 21:34] LongyuZhang opened #481 "Read config info for Data Collection Pipeline"
Config file (https://github.com/adoptium/aqa-test-tools/pull/480) for Data Collection Pipeline can be loaded in main function in [`collect_data`](https://github.com/adoptium/aqa-test-tools/blob/17226edec3d4a8b1b6ba6c66aab1325d447dc3f9/MachineLearningPrototype/dataCollection/collect_data.py#L148).
This value can be stored as variable `config_info`, while two important keys in it are `trss_servers`

[2021-06-29 14:43] llxia commented on #481
Does it make sense to have separated files? One contains sensitive information and one does not.

[2021-06-29 14:55] LongyuZhang commented on #481
Currently two info we need in the config file are `trss_servers` and `GitHub_credentials`.
For `trss_servers`, should we take `internal trss server` link as sensitive info too? Or we store `Adoptium trss server` in non-sensitive config file, and  `internal trss server` in sensitive info file? Thanks.

[2021-06-29 20:28] llxia opened #482 "Remove PieChart in Grid view"
I think we do not use PieChart much in Grid view. In order to keep the Grid view simple, I think we can remove it.

![image](https://user-images.githubusercontent.com/19273206/123862701-a9f6a480-d8f6-11eb-8c95-5be100f53ef1.png)
https://trss.adoptium.net/resultSummary?parentId=60da11fb73f1507c79bb68f5

https://github.com/adoptium/aqa-test-tools/blob/17226edec3d4a8b1b6ba6c66aab1325d447dc3f9/test-res

[2021-06-30 15:01] GiotisK commented on #479
I would like to take over this issue as my first contribution.

[2021-06-30 19:11] LongyuZhang commented on #481
Discussed with Lan, we will have two config files:
- The [existing one](https://github.com/adoptium/aqa-test-tools/blob/master/MachineLearningPrototype/dataCollection/config.json)  for `trss_servers`, should add it to `gitignore.file`;
- Create a new one for `GitHub credential`, and add it to `gitignore.file` too;
- With the new config file, update main function of [`collect_data`](https://github.

[2021-06-30 19:11] LongyuZhang commented on #481
FYI @avishreekh

[2021-06-30 19:19] LongyuZhang commented on #462
Close this issue by PR https://github.com/adoptium/aqa-test-tools/pull/480. Thanks @avishreekh!

[2021-06-30 19:27] #462 closed

[2021-06-30 20:29] LongyuZhang opened #485 "Save quoted jenkins links and test names in github issue"
We have built function [`extract_jenkins_link_and_testname`](https://github.com/adoptium/aqa-test-tools/pull/474) and can use it  to process and save TRSS jenkins links and test names.
- With [`issue[body]`](https://github.com/adoptium/aqa-test-tools/blob/5a5461afe68961c14ca18e11d1ec8bcab4b7bf2b/MachineLearningPrototype/dataCollection/collect_data.py#L63), use function `extract_jenkins_link_and_te

[2021-06-30 20:30] LongyuZhang commented on #485
FYI @2001asjad

[2021-06-30 20:54] LongyuZhang opened #486 "Obtain jenkins output with existing TRSS query function"
Depends on Issue: https://github.com/adoptium/aqa-test-tools/issues/485
- Use `links_list` and `names_list` combinations mentioned in above issue to query TRSS jenkins output with function [`query_trss_for_jenkins_output`](https://github.com/adoptium/aqa-test-tools/pull/475). Note that the third input `trss_servers` should get from config file.
- If multiple outputs are available, join them togeth

[2021-07-01 14:24] 2001asjad commented on #485
Thank You @LongyuZhang, I'll work on this!!!

[2021-07-05 15:18] llxia commented on #479
yes, we can just remove the root build result from the Grid view.

[2021-07-06 15:17] Amishakumari544 commented on #482
I want to work on this issue.

[2021-07-06 15:31] 2001asjad commented on #486
@LongyuZhang, can you explain me a bit more about this issue?

[2021-07-06 15:38] LongyuZhang commented on #486
@2001asjad With the `jenkins_list` and `test_names_list` you get for https://github.com/adoptium/aqa-test-tools/issues/485, you can use data in these two list to query corresponding trss output with above mentioned function. The `trss_servers` data can be read from the config file.

[2021-07-07 20:44] llxia opened #488 "Add anchor link in TRSS page"
As discussed in the JumpStart meeting, on the main page, TRSS may display various builds from different Jenkins servers. One user feedback is that it is hard to search/navigate between the builds. I think we can provide users the anchor link so they can quickly navigate to the section that they want.

Reference: https://ant.design/components/anchor/

[2021-07-08 13:33] Amishakumari544 commented on #482
I am unable to run this on local file please guide how run this on local machines @llxia

[2021-07-08 18:25] llxia commented on #482
@Amishakumari544 could you be more specific about the error that you have? In case you do not know, we have readme about [Local run/development steps ](https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/README.md#local-rundevelopment-steps). Please follow it and let us know if you encounter any problems. Thanks.

[2021-07-08 20:18] llxia opened #490 "Check failedSdkBuilds is not empty"
`failedSdkBuilds` can be an empty array, so we need to check failedSdkBuilds is not empty.

https://github.com/adoptium/aqa-test-tools/blob/17226edec3d4a8b1b6ba6c66aab1325d447dc3f9/test-result-summary-client/src/Build/Summary/Overview.jsx#L20

[2021-07-12 12:57] Amishakumari544 commented on #482
@llxia  mam please review this is ok or not.

[2021-07-12 17:59] llxia opened #494 "Move jenkinsfile.run_parallel_tests() in try block"
[jenkinsfile.run_parallel_tests()
](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests#L345) needs to be moved in try block. Otherwise, the error is misleading.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1066/console

[code]

The real error is `Cannot delete workspace :Remote call on test-aws-rhel8-x64-1 failed`, not the `MissingPropertyException`.

[2021-07-12 18:06] llxia commented on #494
@OscarQQ could you take a look? Thanks

[2021-07-12 19:33] llxia commented on #494
Sorry, wrong repo. Issue opened at https://github.com/adoptium/aqa-tests/issues/2730

[2021-07-12 19:33] #494 closed

[2021-07-12 21:50] LongyuZhang opened #495 "Explore additional ML/DL model for Deep AQAtik"
Currently for Deep AQAtik project, we evaluate multiple ml models (e.g. Random Forest, Decision Tree, etc.) and select the one with best performance to deploy.
We can further explore more advanced/suitable models to improve the performance.

[2021-07-12 22:57] LongyuZhang opened #496 "Collect user feedback for Deep AQAtik predictions"
In TRSS, after we click the possible issues for a test, we can get its related issues with degrees, such as [jdk_management test](https://trss.adoptium.net/possibleIssues?buildId=64288f9617052c6715907c80&buildName=Test_openjdk8_j9_extended.openjdk_x86-64_windows_testList_0&testId=6428906a17052c6715907cd3&testName=jdk_management_0).

To enable users give feedback for the ML predicted Related Degree

[2021-07-15 18:51] llxia opened #497 "Display confrimed git issue on failed tests"
In https://github.com/adoptium/aqa-test-tools/issues/496, we collect user feedback for related git issue. If the issue is confirmed by the user, we should also show it in the `allTestsInfo`.
http://trss1.fyre.ibm.com/allTestsInfo?buildId=60b3b5b1dfd84686d34b2731&limit=5&hasChildren=false

In `allTestsInfo`, add an additional icon in Action to show user confirmed issue link.

![image](https://user-

[2021-07-16 00:02] #486 closed

[2021-07-16 00:02] #485 closed

[2021-07-16 00:03] #460 closed

[2021-07-16 00:05] #444 closed

[2021-07-16 00:11] LongyuZhang opened #498 "Test and deploy Data Collection pipeline for Deep AQAtik on the server"
Since main function of data collection pipeline has completed, it needs to be tested and deployed on the server to collect and monitor Github issues in real-time.
Initial test met two problems:
- `TabError: inconsistent use of tabs and spaces in indentation`
- `FileNotFoundError: [Errno 2] No such file or directory: '../data/GitHubData/IssueContent/aqa-tests_2739.txt'`

[2021-07-16 01:52] LongyuZhang commented on #443
@2001asjad Just tested the merged PR and found the extracting quoted content works well to extract all content with https://github.com/eclipse-openj9/openj9/issues/11733, but can only extract the 1st part of https://github.com/eclipse-openj9/openj9/issues/11732. For the second issue, it only gets:
[code]
but not the second part of
[code]
Could you look into it? Thanks.

[2021-07-16 01:56] LongyuZhang commented on #498
After running the program for 20 mins, it crashed with error
[code]

[2021-07-16 21:11] LongyuZhang commented on #498
The above error is caused by "API rate limit exceeded", will add handling for this error.

[2021-07-18 16:11] smlambert opened #501 "Enhancement: Organize Release Report summary by Platform Parent/Child jobs"
Currently the Release summary report feature lists out all test job failing without any particular order.  It would be very useful to order the report by platform, and in the case of running in PARALLEL=dynamic, having the test job parent be listed directly above its children.

Snippet of current ordering can be seen at: https://github.com/adoptium/aqa-tests/issues/2754

It would be better to grou

[2021-07-20 15:10] llxia opened #502 "StartBy sorting failure"
In Pipeline-Build-Test-Personal, if we click on StartBy, the page crashes.

[code]

I think TRSS cannot get user info for some builds and it causes sorting failure.

[2021-07-20 18:05] #502 closed

[2021-07-22 14:16] llxia opened #505 "Release Summary Report should group test result properly"
Currently, the information in Release Summary Report is not group well. In the following example, it mixed different test build results. It reported `Test_openjdk8_j9_extended.functional_ppc64_aix`, then two other test builds, and then back to `Test_openjdk8_j9_extended.functional_ppc64_aix_testList_1`.

`Test_openjdk8_j9_extended.functional_ppc64_aix` is a parent job. It failed because it child `

[2021-07-22 14:21] llxia opened #506 "Add Grid view link in Release Summary Report"
We should add the Grid view in [Release Summary Report](https://trss.adoptium.net/releaseSummary?parentId=60f8628f73f1507c79f0ef35&buildName=openjdk8-pipeline). It will help users to navigate to it quickly.

[2021-07-22 15:43] smlambert opened #507 "Possible issues view to indicate when "none found""
When we use the Possible Issues button, it takes us to a list of possible issues.  While it happens rarely that no issues are found, if no possible issues are found, it displays a blank page.  It would be good to print "No possible issues found", so there is an indication that the search completed and is not just hung, or taking time.

[2021-07-22 15:48] smlambert commented on #505
see also https://github.com/adoptium/aqa-test-tools/issues/501 which could be closed as dup of this one possibly

[2021-07-22 17:26] llxia commented on #505
Thanks @smlambert . I should have searched the existing issues before opening a new one.

[2021-07-22 17:26] #505 closed

[2021-07-22 17:28] llxia commented on #490
Thanks @Tiffany-Chien for the PR. Close this issue as the PR is merged.

[2021-07-22 17:28] #490 closed

[2021-07-22 21:14] LongyuZhang commented on #498
Close this issue since PR #499 and #504 have been merged, and the data collection pipeline has been deployed on server and collected issues successfully.

[2021-07-22 21:14] #498 closed

[2021-07-22 21:36] LongyuZhang opened #509 "Setup remote model training on server for Deep AQAtik project"
Current model training of Deep AQAtik project is using Jupyter Notebook, to enable remote training, Jupyter server or Jupyter Hub needs to be setup on the server.

[2021-07-23 09:38] Aryamanz29 commented on #476
I  would like to work on this

[2021-07-23 09:41] Aryamanz29 commented on #476
@llxia Could you please guide me to the file responsible

[2021-07-23 14:11] llxia commented on #476
Thanks for working on this @Aryamanz29 . Could you follow the readme to set up the environment to run TRSS locally? https://github.com/adoptium/aqa-test-tools/tree/master/TestResultSummaryService#prerequisites

[2021-07-23 14:15] Aryamanz29 commented on #476
Not yet 😅 but I'll first try to set-up environment .If i face any problem, I'll ping you✌️

[2021-07-26 13:08] llxia commented on #466
PR https://github.com/adoptium/aqa-test-tools/pull/508 is merged. Close this issue.

[2021-07-26 13:08] #466 closed

[2021-07-26 13:11] llxia commented on #470
Jenkins link may not be needed since we added [junit test report link](https://github.com/adoptium/aqa-test-tools/issues/471). Close this issue for now.

[2021-07-26 13:11] #470 closed

[2021-07-27 20:28] llxia commented on #469
PR https://github.com/adoptium/aqa-test-tools/pull/512 is merged. Close the issue

[2021-07-27 20:28] #469 closed

[2021-07-27 20:40] llxia opened #513 "Display Create At and State column in Possible Issues"
In Possible Issue, please create
- a column called `Create At` to display `created_at ` value
- a column called `State` to display `state ` value

https://trss.adoptium.net/possibleIssues?buildId=6009aeea2bad78506655d014&buildName=Test_openjdk15_hs_extended.perf_x86-64_mac&testId=6009afd42bad78506655d5e7&testName=renaissance-db-shootout_0

Git query: https://api.github.com/search/issues?q=renaissa

[2021-07-28 13:20] llxia commented on #375
Thanks @milderhc for PR #467 . It provides us a way to break up TRSS into 3 containers.
@OscarQQ will look into have TRSS in one docker image. This will help onboard new people.

[2021-07-28 14:30] llxia opened #515 "Investigate how to easily visualize and interact with our APIs"
It would be nice if we can leverage [swagger-ui ](https://swagger.io/tools/swagger-ui/) (or other tools) to help us to visualize and interact with our APIs. The goal is to make it easy for back-end implementation and front-end consumption.

[2021-07-28 15:11] llxia opened #516 "Display closed issues in Possible Issues"
In [Possible Issues](https://trss.adoptium.net/possibleIssues?buildId=6009aeea2bad78506655d014&buildName=Test_openjdk15_hs_extended.perf_x86-64_mac&testId=6009afd42bad78506655d5e7&testName=renaissance-db-shootout_0), we only display open issues. In fact, we should also display the closed issues.

ToDo:
- remove `state:open` in the [git query](https://github.com/adoptium/aqa-test-tools/blob/master/

[2021-07-28 18:06] llxia commented on #513
PR https://github.com/adoptium/aqa-test-tools/pull/514 is delivered.

[2021-07-28 18:06] #513 closed

[2021-07-28 19:05] llxia opened #517 "Add sort on Create At column"
We should add sort on `Create At` column in [Possible Issues](https://trss.adoptium.net/possibleIssues?buildId=6009aeea2bad78506655d014&buildName=Test_openjdk15_hs_extended.perf_x86-64_mac&testId=6009afd42bad78506655d5e7&testName=renaissance-db-shootout_0).

Example: https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summary-client/src/Build/BuildTable.jsx#L146

[2021-07-28 19:11] llxia commented on #507
We should add the error check in https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summary-client/src/Build/PossibleIssues.jsx#L62 and provide feedback to the user.

[2021-07-29 13:24] LongyuZhang commented on #496
Steps to implement this issue:
- [ ] add buttons in display
- [ ] connect button with function, several examples available in TRSS repo ([here](https://github.com/adoptium/aqa-test-tools/blob/86d8697273e484ae90dad02178c9db59ae7316fb/test-result-summary-client/src/Dashboard/TabInfo.jsx#L108)) and [Ant Design for Button](https://ant.design/components/button/)
- [ ] in the connected function, print b

[2021-08-05 20:04] llxia commented on #517
#524 is delivered. Close this issue

[2021-08-05 20:04] #517 closed

[2021-08-05 20:10] #515 closed

[2021-08-09 20:45] LongyuZhang opened #526 "Modify data path, format, and label to suit data collection pipeline"
To suit current data collection pipeline, multiple modifications for ML model training are needed:
- [x] since PR https://github.com/adoptium/aqa-test-tools/pull/512 changed extracted_content filename pattern, original filename in DB and folder should be modified too.
- [ ] With adding IssueContentQuote files, we can add them into training data.
- [ ] Labels for  IssueContentQuote data also need e

[2021-08-11 14:53] llxia opened #532 "Update nginx config for swagger-ui"
In the production server, we need to update nginx for swagger-ui proxy

[code]

swagger-ui can be accessed at https://trss.adoptium.net/api-docs/

[2021-08-11 14:54] llxia commented on #532
Related: https://github.com/adoptium/aqa-test-tools/pull/531

[2021-08-11 14:54] #532 closed

[2021-08-12 04:02] SAY-droid427 opened #534 "Creating URL for jenkins Grinder jobs for Tweetest"
We need to produce and print out a URL for a Jenkins Grinder job with all of the "correct" parameters set like:
[code]

[2021-08-12 13:09] llxia commented on #534
I think we should trigger https://ci.adoptopenjdk.net/job/Grinder_Tweetest/ instead. Also, if we use the default values, we do not need to set them. In other words, only special parameters are needed (i.e., EXTERNAL_*, etc)

[2021-08-12 17:39] #501 closed

[2021-08-31 14:08] smlambert opened #537 "TRSS open instance is not reporting the JDK17 test results"
For the past week, the JDK17 test results have been running, but none are showing up in trss.adoptium.net

[2021-09-02 18:14] #526 closed

[2021-09-07 15:46] sophia-guo commented on #537
Probably not jdk17 related. Other jdk latest test results weren't reported, either.

[2021-09-07 16:36] llxia commented on #537
I do not have access to these jobs. Did the permission get changed at Adopt Jenkins?

[2021-09-07 18:32] smlambert commented on #537
I do not think that the temurin-bot (or whatever credential that TRSS has) has changed.  (build and build-triage teams can see them, we should also get test team added to see them, but that would not be the problem here)

2 things to note:
- recently TRSS ran out of space and @sxa cleaned out /tmp
- there was a large backlog of pipeline builds that were hung for a couple of weeks, they were recent

[2021-09-07 21:52] #442 closed

[2021-09-14 13:17] llxia commented on #507
PR delivered. Close this issue.

[2021-09-14 17:44] karianna opened #541 "TRSS reporting Test Job Failures incorrectly?"
[Original Slack Conversation](https://adoptium.slack.com/archives/C5219G28G/p1631638625053400)

The TRSS Summary results stated that Test_openjdk17_hs_extended.openjdk_x86-64_mac failed.  When I look at the [console]( https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_mac/22/console), I see test failures but not an entire job failure.  Is someone able to advise here?

Same g

[2021-09-14 20:21] smlambert commented on #541
Based on the Release report that you posted to both https://github.com/adoptium/aqa-tests/issues/2860 and https://github.com/adoptium/aqa-tests/issues/2861, it appears you are pulling it from an out-of-date TRSS instance, as it does not appear to include the link to the Grid view, the improved sorting and the more accurate representation of the test job status that was added in https://github.com/

[2021-09-15 13:47] karianna commented on #541
This was due to using adoptopenjdk.net URL and not being redirected.

[2021-09-15 13:47] #541 closed

[2021-09-15 13:48] karianna commented on #537
Bot may need updating for:

create_installer_linux ❌ undefined ❌

create_installer_windows ❌ undefined ❌

sign_build ❌ undefined ❌

sign_installer ❌ undefined ❌

[2021-09-15 13:48] #537 closed

[2021-09-17 11:06] joeyleeeeeee97 opened #542 "Directly link to testReport for jtreg tests"
For example, in https://trss.adoptium.net/allTestsInfo?buildId=613d4c9cc6182d021715ce14&limit=5
![image](https://user-images.githubusercontent.com/30545334/133772643-9344edf4-3d7a-4a8e-b2bc-fc12a4983ec6.png)

The jenkins link could be linked to
https://ci.adoptopenjdk.net/job/Test_openjdk11_bisheng_extended.openjdk_x86-64_linux_testList_0/9/testReport/

I think maybe it's more clear and easy to id

[2021-09-17 12:04] smlambert commented on #542
Not all tests in the AQA suite produce JUnit results like the jtreg tests do (system and perf tests for example do not produce them), so we chose to link to the test job, and then a user would click on the testReport if it exists.

We do link to the JUnit results from the Deep History view in TRSS (recently added via https://github.com/adoptium/aqa-test-tools/pull/473).  See for example the action

[2021-09-17 17:47] xius666 commented on #516
Can I take this issue? Thanks

[2021-09-17 17:57] amandanguyeen commented on #459
I can take this on!

[2021-09-17 22:43] xius666 commented on #516
Please review the PR

[2021-09-18 02:41] joeyleeeeeee97 commented on #542
ok. @smlambert  Thanks for the expanation

[2021-09-18 02:41] #542 closed

[2021-09-20 19:27] #516 closed

[2021-09-20 23:47] llxia opened #547 "EPIC: TRSS workflow for AQAvit certification"
As part of AQAvit certification process, TAP files are collected and put them on a public server. TRSS should be able to get it, parse, store and display the results.

Here is the workflow:
- users register through our API to get a token
- users send us POST request with token, status and URL to the server that contains TAP files, testenv.properties and java -version output(?). Status can be New o

[2021-09-21 14:00] llxia opened #548 "create API for processing TAP files and storing the data"

[2021-09-23 15:52] llxia opened #550 "Add swagger documentation for getTotals API"
Add [swagger documentation](https://github.com/pgroot/express-swagger-generator/blob/master/README.md#how-to-document-the-api) for [getTotals](https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/getTotals.js) API

Example: https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/getTestAvgDuration.js

We should be able to see the out

[2021-09-23 16:38] karianna opened #551 "Mac Aarch64 test results never arrived in TRSS for Java 17 release"
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/188/ is the pipeline that kicked off the build

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk17/job/jdk17-mac-aarch64-hotspot/46/console is the build job that then triggers the test job (which all completed)

NOTE: The test runs were delayed due to an offline machine, but once switched on it went to completion.

[2021-09-23 16:43] llxia commented on #551
The output of https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk17/job/jdk17-mac-aarch64-hotspot/46/ is too big (~170M+). It exceeds the TRSS limit.

![image](https://user-images.githubusercontent.com/19273206/134548547-833eae53-9dd2-4e38-b184-ef8f50041a28.png)

[2021-09-23 16:50] sophia-guo opened #552 "Add swagger documentation for getTestByVersionInfo API"
Add [swagger documentation](https://github.com/pgroot/express-swagger-generator/blob/master/README.md#how-to-document-the-api) for [getTestByVersionInfo](https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/getTestByVersionInfo.js) API

Example of getTestAveDuration:
https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/getTestAvgD

[2021-09-23 16:56] sophia-guo opened #553 "Add swagger documentation for getTotals API"
Add [swagger documentation](https://github.com/pgroot/express-swagger-generator/blob/master/README.md#how-to-document-the-api) for [getTestByVersionInfo](https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/getTotals.js) API

Example of getTestAveDuration:
https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/getTestAvgDuration.js

[2021-09-23 16:59] #553 closed

[2021-09-23 17:04] sophia-guo opened #554 "Add swagger documentation for compareTestDuration API"
Add [swagger documentation](https://github.com/pgroot/express-swagger-generator/blob/master/README.md#how-to-document-the-api) for [compareTestDuration](https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/compareTestDuration.js) API

Example of getTestAveDuration:
https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/routes/getTestAvgDur

[2021-09-23 18:27] llxia commented on #506
This is added. Close this issue.

[2021-09-23 18:27] #506 closed

[2021-09-23 18:32] llxia commented on #463
dup of https://github.com/adoptium/aqa-test-tools/issues/516

[2021-09-23 18:32] #463 closed

[2021-09-30 18:30] smlambert commented on #459
Fixed via https://github.com/adoptium/aqa-test-tools/pull/555

[2021-09-30 20:00] llxia opened #556 "Investigate test framework for TRSS"
We should investigate the test framework for TRSS. Cypress https://www.cypress.io/ seems to be a good choice for UI testing.

[2021-10-01 16:21] AnushaGaddala commented on #472
Verifying the issue ,i will continue to work on it

[2021-10-01 16:30] Nausheen32 commented on #550
I can work on this.

[2021-10-01 16:51] nikita-parmar commented on #482
I can work on this if this is open

[2021-10-01 16:52] llxia commented on #482
Thanks @nikita-parmar . This is open.

[2021-10-01 16:55] llxia commented on #472
Thanks @AnushaGaddala . The above link is expired. Here is the new link: https://trss.adoptium.net/deepHistory?testId=6156381ac6182d02172c00b5

[2021-10-01 16:57] AnushaGaddala commented on #472
Tq llxia

[2021-10-01 17:14] llxia commented on #550
Thanks @Nausheen32

[2021-10-01 17:33] AnushaGaddala commented on #472
llxia , how should i test after making the code changes ?

[2021-10-01 17:43] shravankb commented on #554
Can I pick this issue? I can fix it.

[2021-10-01 17:44] smlambert commented on #554
Please do!  thanks @shravankb !

[2021-10-01 17:47] shravankb commented on #554
Hi @smlambert,
Can I know what should the end point be? I have currently fixed it with `/api/compareTestDuration`

[2021-10-01 17:47] arp5 commented on #552
Hi Can I pick this up?

[2021-10-01 17:49] shravankb commented on #554
Hi @smlambert,
Can you please re-assign it to @shravan20?

[2021-10-01 17:50] smlambert commented on #554
actually I can only assign it to contributors who put a comment in the issue

[2021-10-01 17:51] shravan20 commented on #554
Sorry for the fuss!
Can you kindly re-assign it to my alternative account @shravan20  ?
Thanks in advance!

[2021-10-01 17:57] llxia commented on #552
Thanks @arp5

[2021-10-01 17:59] shravan20 commented on #554
Hi @smlambert ,

I have raised a [PR](https://github.com/adoptium/aqa-test-tools/pull/558).
Thank you for letting me contribute.

[2021-10-01 18:10] llxia commented on #472
If you set up your local env and import data, you should be able to test it.

[2021-10-01 18:13] llxia commented on #472
PR https://github.com/adoptium/aqa-test-tools/pull/557

[2021-10-01 18:32] #550 closed

[2021-10-01 18:35] llxia commented on #554
Thanks @shravan20 for the PR!.

[2021-10-01 18:35] #554 closed

[2021-10-01 18:37] AnushaGaddala commented on #472
Tq got it , Anything else pending for this issue ? or shall we call it as done?

[2021-10-01 18:40] smlambert commented on #472
This now can be closed (and in fact, in a PR you could have added the comment "Fixes #557" and github would have automatically closed the issue upon merging of the PR).

[2021-10-01 18:40] #472 closed

[2021-10-01 18:40] smlambert commented on #472
thanks @AnushaGaddala !

[2021-10-01 18:58] somya-15 commented on #552
@arp5 can I(Somya-15) and Nandini(nandini-4120) collaborate with you on this issue?

[2021-10-01 19:26] arp5 commented on #552
sure Somya and nandini

[2021-10-01 19:39] somya-15 commented on #552
Hey, thanks a lot! can we collaborate using a google meet/zoom link to stay
in sync?

On Sat, Oct 2, 2021 at 12:56 AM Arpita Awasthi ***@***.***>
wrote:

[2021-10-01 19:42] arp5 commented on #552
sure sounds good. Do you want to share a link?

[2021-10-01 19:47] somya-15 commented on #552
you can join here: https://meet.google.com/ros-nnms-bzv

[2021-10-01 19:47] somya-15 commented on #552
https://meet.google.com/ros-nnms-bzv

On Sat, Oct 2, 2021 at 1:09 AM 084_Somya IT2 ***@***.***> wrote:

[2021-10-01 21:54] llxia commented on #482
Thanks @nikita-parmar for the PR https://github.com/adoptium/aqa-test-tools/pull/564

[2021-10-01 21:54] #482 closed

[2021-10-01 23:32] #552 closed

[2021-10-01 23:41] arp5 commented on #479
Hi, Can I pick this issue

[2021-10-10 04:29] ToluEnny24 commented on #381
I want to play around with this and find a solution...

[2021-10-14 17:59] llxia opened #569 "Show info if the test build is canceled due to timeout"
In Jenkins, a test build result can be FAILURE (not ABORT) if it is canceled due to timeout.

[code]

When this happens, TRSS won't be able to get the test summary because the test build is incomplete. Currently, in Grid view, TRSS shows the following:

![image](https://user-images.githubusercontent.com/19273206/136978382-3372a903-9ee1-47ca-a9bd-8c5ad5d87c6a.png)

In the tooltip, we should show th

[2021-10-14 23:57] Mercon55 commented on #569
Oh great. Thank you for the info. I’ll look forward to the new issues. I
could try my hands with the available ones definitely. Do have a nice
night.

On Fri, 15 Oct 2021 at 00:37, Lan Xia ***@***.***> wrote:

[2021-10-18 18:37] llxia opened #570 "Add URL check in TRSS Grid view"
Step1: set up TRSS environment locally https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/README.md

Step2: run tests https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/README.md#testing

Step3: add new test after https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summary-client/cypress/integration/byPipeline.js#L14

- asser

[2021-10-18 18:42] llxia opened #571 "Add tests for TRSS testinfo page"
Step1: set up TRSS environment locally https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/README.md

Step2: run tests https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/README.md#testing

Step3: add new tests for TRSS testinfo page

- create a new file - testInfo.js in https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summa

[2021-10-19 11:54] farwa-batool commented on #570
Hi @llxia  I've set up the local environment and would live to contribute to this. May I?

[2021-10-20 14:54] llxia opened #572 "Fix warning in TRSS"
Step1: set up TRSS environment locally https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/README.md

Step2: fix the following warnings in TRSS:

./src/Build/Summary/ResultSummary.jsx
  Line 7:8:    'PieChart' is defined but never used          no-unused-vars

./src/Build/PossibleIssues.jsx
  Line 83:52:  Expected '===' and instead saw '=='  eqeqeq
  Line 86:17:  'creat

[2021-10-29 19:24] llxia commented on #572
The issue is fixed via https://github.com/adoptium/aqa-test-tools/pull/573

[2021-10-29 19:24] #572 closed

[2021-11-01 19:40] llxia commented on #571
@zaheer-se any progress on this? Do you have any questions?

[2021-11-01 19:43] llxia commented on #570
@olusanwo are you working on this issue? Do you have any questions?

[2021-11-02 12:08] olusanwo commented on #570
@llxia. No, you may reassign

[2021-11-02 12:47] llxia commented on #570
Thanks @olusanwo for letting us know.

[2021-11-02 12:53] llxia commented on #479
@arp5 any progress on this issue? Do you have any questions?

[2021-11-03 08:00] KESA24 commented on #570
Hello,I would like to work on this.

[2021-11-03 13:10] llxia commented on #332
The feature is added. Close the issue.

[2021-11-03 13:10] #332 closed

[2021-11-03 13:12] llxia commented on #340
I am not able to reproduce it. Please reopen if the issue occurs again.

[2021-11-03 13:12] #340 closed

[2021-11-03 13:13] llxia commented on #570
Sure, thanks @KESA24 !

[2021-11-05 10:00] Rajwin-kaur commented on #570
Can i work in this ...

[2021-11-05 10:01] Rajwin-kaur commented on #570
Tomorrow is the last date to submit project .

[2021-11-05 10:01] Rajwin-kaur commented on #570
Can anyone help me to complete my project

[2021-11-05 10:11] KESA24 commented on #570
Sorry Rajwin, I'm also currently working on the same project

[2021-11-05 10:13] Rajwin-kaur commented on #570
No problem 🤗

[2021-11-11 19:37] llxia commented on #464
This issue is fixed.

[2021-11-11 19:37] #464 closed

[2021-11-11 19:40] llxia opened #575 "Create advanced search in TRSS"
Currently, users can search per pipeline build. We will need to create an advanced search feature so that the users can search across the pipelines.

[2021-11-16 17:30] #575 closed

[2021-11-16 20:34] llxia commented on #459
Still have the issue in the production server

![image](https://user-images.githubusercontent.com/19273206/142061430-1b767988-3511-4d7c-8120-57a0ce544774.png)

[2021-11-16 20:37] llxia commented on #479
@arp5 I unassigned you from this issue. Please feel free to work on other issues. Thanks.

[2021-11-16 21:10] xius666 commented on #479
Can I take this issue? Thanks

[2021-11-23 04:28] llxia commented on #479
Resolved via https://github.com/adoptium/aqa-test-tools/pull/578

[2021-11-23 04:28] #479 closed

[2021-11-23 17:58] #437 closed

[2021-11-23 17:58] #441 closed

[2021-11-23 17:58] #439 closed

[2021-11-23 18:00] #440 closed

[2021-11-24 02:11] llxia opened #579 "Create AQAvit Certification View"
We would like to show AQAvit Certification results. An `AQAvit Certification` menu should be created on the left side menu after `By Pipeline`.
https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summary-client/src/App.jsx#L48

The link should be `/tests/AQAvitCert`.

In TopLevelBuilds.jsx, if type is `AQAvitCert`, we should query `/api/getTopLevelBuildNames?type=Test&AQAvitCert=tru

[2021-11-24 22:35] #459 closed

[2021-12-03 21:02] llxia opened #582 "Result Summary Report should capture all builds status"
Currently, the Result Summary Report only displays the failed child builds. This may cause problems when some child builds are still running. When this happens, Result Summary Report will not capture these running builds as their results are unknown and users will get misleading information.

If there are running builds, the Result Summary Report should have a section to show the running builds an

[2021-12-03 22:12] amandanguyeen opened #583 "Improve on POST TAP file endpoint and Parser"
1. `postTapFiles.js` currently has a hardcoded zip path but needs to be changed to consume a user inputted url to a zip file
2. `Tap.js` currently inserts documents with a hardcoded `url` field and needs to be changed to insert with user inputted url
3. `Tap.js` currently inserts documents with an empty `startBy` field and needs to potentially parse from url the vendor
4.  Tap.js` currently insert

[2021-12-06 15:46] llxia commented on #583
Thanks @amandanguyeen for creating the issue!

[2022-01-11 15:50] llxia opened #584 "Investigate Mongodb full text index on test output"
The Advance search feature searches all test output in DB. It takes really long time to return the result. We should look into a more efficient way of searching (i.e., Mongodb full-text index)

https://docs.mongodb.com/manual/core/index-text/
https://www.youtube.com/watch?v=dTN8cBDEG_Q&ab_channel=MikeDane
https://database.guide/how-to-create-a-text-index-in-mongodb/

[2022-01-21 23:26] tommytwm commented on #571
I can take over :)

[2022-01-21 23:31] llxia opened #587 "Add Release Summary Report button at Grid view"
We have Release Summary Report button on the build page:
https://trss.adoptium.net/buildDetail?parentId=61e5b02fa7df1a2924004ef1

![image](https://user-images.githubusercontent.com/19273206/150613170-606bfeb6-87b3-46d8-a55f-891e07016f64.png)

We would like to have it added on the top of the Grid view:
https://trss.adoptium.net/resultSummary?parentId=61e5b02fa7df1a2924004ef1

[2022-01-22 20:12] tommytwm commented on #571
Should the test cover more than searching for one element?

[2022-01-22 20:19] llxia commented on #571
@tommytwm please feel free to add more tests.

[2022-01-22 21:05] llxia opened #589 "Add sort on State on possibleIssues page"
We would like to add sort on State on possibleIssues page.

Similar to `Created At`: https://github.com/adoptium/aqa-test-tools/blob/bc05df71860369ce4000e194d2024632724c8a03/test-result-summary-client/src/Build/PossibleIssues.jsx#L150

![image](https://user-images.githubusercontent.com/19273206/150655421-e20cf80c-a749-49bd-af37-da75baab3d92.png)
https://trss.adoptium.net/possibleIssues?buildId=600

[2022-01-22 21:06] nadeensami commented on #589
I'd like to work on this!

[2022-01-22 21:52] #571 closed

[2022-01-22 21:58] tommytwm opened #590 "Create Fixtures and Intercepts for Unit Tests"
Related to #588, we should mock endpoints and payloads to our Cypress unit tests so that we can test component rendering independent from relying on network calls from a functioning service.
- Look at [Cypress intercept](https://docs.cypress.io/api/commands/intercept#Syntax) to mock endpoints
- Look at [Cypress fixtures](https://docs.cypress.io/api/commands/fixture#Usage) to mock payload objects
W

[2022-01-22 22:22] llxia opened #591 "Investigate the formatting tool for the project"
It is very important to have a good coding standard. It helps to keep the code simple and clean. A nice formatted code is easier for people to understand, review, compare, maintain and update. We should investigate a good formatting tool for the project.
Below are some of the requirements:

- easy to use
- integrates well with different IDEs
- support multiple languages (js, JSON, CSS,  etc)

Poss

[2022-01-22 22:50] llxia opened #593 "Create PR builds for TRSS"
With the Docker-based TRSS, we can create PR builds for TRSS using GitHub workflow. It should run the cypress tests that we have.
https://github.com/adoptium/aqa-test-tools/tree/master/TestResultSummaryService#docker
https://github.com/adoptium/aqa-test-tools/tree/master/TestResultSummaryService#testing

[2022-01-22 23:14] yinggzz commented on #591
I'd love to investigate on the tool

[2022-01-22 23:52] tommytwm commented on #579
I can take this

[2022-01-23 01:15] #589 closed

[2022-01-23 17:38] #587 closed

[2022-01-24 14:10] llxia commented on #579
Currently, there is no AQAvitCert data for this view to be created. Ideally, this work requires the data from https://github.com/adoptium/aqa-test-tools/issues/548.

[2022-01-25 21:50] llxia opened #596 "Capture Grid view in Release Summary Report"
**Background**:
In Release Summary Report, we display all failed builds. It is very useful for triaging. However, it lacks an overview of the pipeline status. It would be great if we can capture the Grid view in Release Summary Report.

For example, the Release Summary Report will become:

#### Release Summary Report for openjdk8-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId

[2022-01-26 19:54] yinggzz commented on #591
Here are some potential formatting tools for the project I have found.

**Prettier:**
[](https://prettier.io)

- Supports: JavaScript, Flow, TypeScript, CSS, SCSS, Less, JSX, GraphQL, JSON, Markdown with plugins you can use it for Python, PHP, Swift, Ruby, Java and more
- Integrates with most editors: VS Code, Sublime Text, Atom, Espresso, Visual Studio, WebStorm, formatter applied every time chan

[2022-01-26 22:23] tommytwm commented on #596
I can take this!

[2022-01-26 22:27] nadeensami commented on #548
I'd like to be assigned to this!

[2022-01-26 22:27] llxia commented on #548
Some of the work is done at https://github.com/adoptium/aqa-test-tools/blob/master/TestResultSummaryService/parsers/Tap.js

[2022-01-26 22:37] llxia commented on #548
Sample data for TAP files: [example_tap.zip](https://github.com/adoptium/aqa-test-tools/files/7946081/example_tap.zip)

[2022-01-26 23:30] smlambert commented on #582
related, if not dup of https://github.com/adoptium/aqa-test-tools/issues/596

[2022-01-26 23:41] smlambert commented on #591
Thanks @yinggzz !  Based on our discussion today, you and @llxia have a few additional activities on this one, focussing on Prettier and CodeBeautify.  Think about what we would expect of contributors to this repository.  Would we 'enforce' formatting with a PR check?  Are their github actions that would allow for this as part of a workflow?  If we do not enforce it, is this mainly about creating

[2022-01-27 13:59] llxia commented on #591
The goal is this task is to find a formatting tool that can format **automatically** for the users. Ideally, the PR should be formatted well before users submit the PRs. I would expect that **there is no or minimal work for both users and reviewers for formatting**.

- [CodeBeautify](https://codebeautify.org/) is not what we are looking for. It is a third-party online tool that users have to manua

[2022-01-31 06:13] tommytwm commented on #596
In my investigation, it seems that there isn't a direct API available for us to upload images to Git that recretes the copy and paste image on comment/thread in GitHub. Based on [a stack overflow thread](https://stackoverflow.com/questions/61553399/how-can-i-save-a-valid-image-to-github-using-their-api) it seems that he closest implementation would be to commit an image into the repository itself,

[2022-01-31 16:03] llxia commented on #582
Yes, this is related to #596 - Capture Grid view in Release Summary Report. The goal of this issue is to display running builds if there are any. However, the ideal solution is to get this resolved at the Jenkins pipeline level. See https://github.com/adoptium/ci-jenkins-pipelines/issues/234

[2022-02-01 03:55] smlambert commented on #596
thank you for this excellent analysis @tommytwm, I have responded in Slack and reiterate here... based on your findings, we must reconsider this approach.  Rather than capture grid view and include with release report, we should consider alternative ways to achieve the requirement of succinctly indicated the entirety of what was run in a pipeline (including passing jobs).  To this end, we can star

[2022-02-01 17:12] llxia commented on #596
Could we try one last thing before we look into other alternatives?

It looks like the `https://github.com/upload/policies/assets` API is used for uploading images. `authenticity_token` is required for the POST request. It would be great if we could give it a try.

![image](https://user-images.githubusercontent.com/19273206/152016442-29d031b9-1518-4bd5-a0c0-72f437237ff2.png)

![image](https://user

[2022-02-02 11:48] yinggzz commented on #591
Hi @llxia , thank you for your instruction! After a lot of research, I couldn’t really find other tools that are similar to Prettier and support integration with different IDEs and languages.

Please see below for my research on Prettier, it can be used as a pre-commit tool to format file before committing.

I was wondering if you can elaborate what to include in the “Format file” besides links fo

[2022-02-02 11:53] yinggzz commented on #591
**Prettier**
**pros:**
- as contributors for open sources are dispersed or new to the project, with Prettier, individuals not familiar with the style guidelines don’t have to worry when making a pull request
- owners, maintainers, collaborators don’t have to enforce a style guide in code reviews
- consistent code formatting across entire codebase
- Installing and using Prettier in a project is gen

[2022-02-03 13:41] smlambert commented on #596
We can intend to use https://github.com/eclipse-aqavit-bot for this.

FYI @gdams

[2022-02-07 22:52] llxia commented on #596
@tommytwm There are 2 API calls.
1. calls https://github.com/upload/policies/assets to get aws URL
2. calls aws to upload

<details>
  <summary>Click to see the testing code!</summary>

[code]

</details>

The above code works in my local. Please give it a try. Assuming we have the token and repo id, we need to figure out how to get cookie info.

[2022-02-08 00:27] tommytwm commented on #596
I'm having some issues with getting the dependencies to work. I'll get back to you later today to see if I'm able to run the dependencies.
[code]

[2022-02-08 00:39] tommytwm commented on #596
Update: The code runs when I place it in `getParents.js` in TestResultsSummaryService backend, but I do not see a call being made to github. I assume this is running concurrently with an API call made to getParents, but could I get a confirmation on this?

[2022-02-08 00:40] tommytwm commented on #596
<img width="581" alt="image" src="https://user-images.githubusercontent.com/37882255/152896142-eb9b7d3f-dfe5-4593-a103-290f3ff9431d.png">

**getParents.js**
[code]

[2022-02-08 15:16] llxia commented on #596
https://github.com/adoptium/aqa-test-tools/issues/596#issuecomment-1032015875 is a quick POC. You need to fill the placeholder (`<path to image>`, `<token>`, `<repo id>`, etc) to make it work on your end. Also, you won't be able to see backend details from the frontend inspection.

[2022-02-09 19:12] llxia opened #597 "Add jenkins link at build output page"
Add jenkins link at [build output page](https://trss.adoptium.net/output/build?id=62016093a7df1a29241e0a81), similar to [test output page](https://trss.adoptium.net/output/test?id=62019d57a7df1a29241e3a2f).
![image](https://user-images.githubusercontent.com/19273206/153272587-f806dc8e-865a-470a-8a13-582499f5f7ab.png)

https://github.com/adoptium/aqa-test-tools/blob/520423f2436a94077aadcef1ecf74fe2

[2022-02-09 21:15] yinggzz commented on #597
I would like to work on this :)

[2022-02-10 00:30] tommytwm commented on #596
I've managed to source some documentation regarding obtaining cookies:
1. MDN Web Docs shows that calling [`Document.cookie`](https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie) will let us read all cookies associated with the document via the `Document` property. It is unclear what kind of information or what kind of payload we receive in return or if we need to set up the cookies o

[2022-02-10 17:01] llxia commented on #570
@KESA24 are you still working on this? If not, I will unsign you from this issue.

[2022-02-10 17:10] payalharisinghani commented on #476
Hello,

Please unsign me from this issue as I am not working on it. Thanks!

On Thu, Feb 10, 2022, 10:04 AM Lan Xia ***@***.***> wrote:

[2022-02-14 04:30] tommytwm commented on #596
According to [node-fetch documentation](https://github.com/node-fetch/node-fetch#installation), ES Modules is only supported in node-fetch for up to version 2.

[2022-02-14 06:28] KESA24 commented on #570
Hello Lan,
Kindly reassign it.

thank you,

On Thu, 10 Feb 2022 at 20:01, Lan Xia ***@***.***> wrote:

--
Patricia

[2022-02-14 15:37] llxia commented on #591
Add prettier in TRSS https://github.com/adoptium/aqa-test-tools/pull/611

[2022-02-16 02:30] smlambert opened #614 "Consider including a basic visual summary of release status with the release report with mermaid markdown"
In the interim of figuring out whether https://github.com/adoptium/aqa-test-tools/issues/596 is feasible, we could use mermaid pie chart and/or flowchart markup to indicate what percentage of jobs passed/failed/ranButContainedFailures (and if possible which were not triggered at all... this may be harder to determine and not needed on first iteration).

parentBuildJob launches X number of buildJob

[2022-02-16 06:50] tommytwm commented on #596
I've tested the two approaches locally by simply printing out the document's cookie, but the most I've managed to score is an `<empty string>` response via calling `console.log(document.cookie)`. I suspect that because the client is running locally, no cookies will be generated. I could be misunderstanding the approach to printing out the cookie, but what would be a workaround to see if we are get

[2022-02-16 20:43] #597 closed

[2022-02-16 22:15] llxia commented on #591
https://github.com/adoptium/aqa-test-tools/pull/612
https://github.com/adoptium/aqa-test-tools/pull/613

[2022-02-16 22:18] llxia commented on #591
Code formatter prettier is added in TRSS. I will close this PR for now.

[2022-02-16 22:18] #591 closed

[2022-02-16 22:32] tommytwm commented on #582
I can take this!

[2022-02-22 16:06] #582 closed

[2022-02-23 22:11] tommytwm commented on #570
I can take this one!

[2022-02-23 22:24] tommytwm commented on #496
I can pick up where this is left of :)

[2022-02-24 14:37] #570 closed

[2022-02-28 16:55] smlambert opened #622 "Create an indicator that we are low on space"
re: https://github.com/adoptium/ci-jenkins-pipelines/issues/254#issuecomment-1054314294

It may be beneficial to visually indicate or through the API response that we are running low or out of space on disk.  Currently TRSS ability to respond to queries degrades with no obvious notice of underlying problem.  If we can warn of the issue, then we can intervene (either to purge data or clean up disk

[2022-03-02 17:09] smlambert opened #623 "Figure out why we are not getting the last 2 weeks of job information."
Currently not getting new job information to the public live instance (trss.adoptium.net), and we believe the machine has enough space (as its been recently cleaned up).  Last results look to be from mid-February.

Recently build jobs were reconfigured / named differently, though we do not expect that this should affect the ability for TRSS to monitor a top-level build pipeline.

(related: https:/

[2022-03-04 18:09] llxia opened #624 "TRSS release summary report enhancements"
In TRSS release summary report,
- [ ]  #629
- [ ]  #630
- [ ]  #631 (will be useful if Jenkins job is expired)
- [ ]  #632 (will be useful if Jenkins job is expired)

This info should also be in Grid view as well.

[2022-03-04 21:04] llxia opened #626 "Remove Release Summary Report button from buildDetail page"
We have Release Summary Report button at Grid view, I would like to remove Release Summary Report from buildDetail page.

https://trss.adoptium.net/buildDetail?parentId=60096b192bad785066552e8c
![image](https://user-images.githubusercontent.com/19273206/156840848-ebb072bf-8591-4451-808e-ff98a0bea17b.png)

buildDetail only shows build results. It does not have other job info. People may generate Re

[2022-03-04 21:26] smlambert opened #627 "Update AQAvit certification to another name"
We have been advised that the use of the word "certification" should be avoided (something about `angering the gods`, or some such).  In the [website-v2 documentation](https://github.com/adoptium/website-v2/blob/main/src/asciidoc-pages/docs/aqavit-verification.adoc), we've updated to use the word AQAvit "verification", but that does not seem appropriate for use as a menu item.

We know we want to

[2022-03-04 22:19] llxia commented on #623
TRSS was in a weird state: the services were not running. However, the node processes were running. And no TRSS log files under `/var/log/`. I suspect that the disk space issue caused TRSS at a bad state. And log files were removed during the disk free-up.

I restarted TRSS services and https://trss.adoptium.net/ is back online. I can see the latest build from today (Mar 4th).

[2022-03-05 12:02] suhaasya commented on #626
you just wanna remove that release summary report button from
https://trss.adoptium.net/buildDetail?parentId=60096b192bad785066552e8c

this page right?? or is there anything I am not getting??

[2022-03-05 17:11] smlambert commented on #626
Correct, the button has been added to the Grid view now, so we no longer need or want it in the buildDetail view.

[2022-03-05 18:15] suhaasya commented on #626
Can you assign me this task??
I would like to work on it.
Also I will need to some help to run it in my local environment.

[2022-03-05 19:24] smlambert commented on #626
Sure @suhaasya - also please read our Contributing guide, as you will need to sign an ECA before we can merge any PR from you: https://github.com/adoptium/aqa-tests/blob/master/Contributing.md#eclipse-contributor-agreement

Running in your local environment is described here:
https://github.com/adoptium/aqa-test-tools/tree/master/TestResultSummaryService#local-rundevelopment-steps

[2022-03-06 09:35] suhaasya commented on #626
I have a query regarding my eclipse contributor agreement.
I am not understanding which option I should select.

can you please help me with this??

[2022-03-06 13:13] sxa commented on #623
What makes you say that? The files in `/var/log/TRSS*.log.?` are still present as they were before.

Hmmm the services were still showing as running on Friday if this is a valid way to query it - am I misinterpreting this or were you looking at the status in a different way?
[code]

[2022-03-06 13:43] suhaasya commented on #476
I would like to work on this. can you assign me this task??

[2022-03-07 16:53] llxia commented on #623
I restarted the services last Friday. TRSS was in a bad state and had no log before I restarted it.

[2022-03-09 14:13] #626 closed

[2022-03-09 22:30] smlambert opened #629 "Add `java -version` output to release summary report"

[2022-03-09 22:30] smlambert opened #630 "Add test link to test console output into the release summary report"

[2022-03-09 22:31] smlambert opened #631 "add rerun in Grinder link in release summary report"

[2022-03-09 22:32] smlambert opened #632 "Add rerun failed tests in Grinder link to release summary report"

[2022-03-11 06:52] tommytwm commented on #624
I can take the first two tasks right now :)

[2022-03-11 19:01] tommytwm commented on #629
I can take this one

[2022-03-11 19:01] tommytwm commented on #630
I can take this one

[2022-03-15 11:43] smlambert commented on #381
I have verified that this issue has been fixed as now upon clicking the graph the pop-up stays in place until it is closed by the user by clicking the X in the top right corner (see screenshots).

<img width="789" alt="Screen Shot 2022-03-15 at 7 41 56 AM" src="https://user-images.githubusercontent.com/2836948/158370773-80b9f882-6637-4f00-93dd-6034e9183612.png">
<img width="1085" alt="Screen Shot

[2022-03-15 11:43] #381 closed

[2022-03-18 17:44] smlambert opened #636 "Update AQAvit Certification to AQAvit Verification"
We should change the left side menu option from AQAvit Certification to AQAvit Verification to match the language that is used to describe it elsewhere (as we've described in the doc, https://github.com/adoptium/website-v2/pull/204).

Change needed at: https://github.com/adoptium/aqa-test-tools/blob/master/test-result-summary-client/src/App.jsx#L92

Underlying files or variable names do not need t

[2022-03-18 17:54] tommytwm commented on #631
I can take this one :)

[2022-03-18 17:54] tommytwm commented on #632
I can take this one

[2022-03-21 03:56] nik132-eng commented on #476
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue and try better to enhance it more. I would be making a PR as soon as I am done with resolving the issue. Thank you
@llxia

[2022-03-21 12:12] smlambert commented on #476
@suhaasya - had you begun work on this issue?  if not, I will assign @nik132-eng

[2022-03-21 12:49] nik132-eng commented on #476
yes ma'am, please

[2022-03-21 17:59] #636 closed

[2022-03-23 17:17] smlambert commented on #627
Closed via https://github.com/adoptium/aqa-test-tools/pull/637

[2022-03-23 17:17] #627 closed

[2022-03-23 21:53] tommytwm commented on #632
Just to double confirm, should the test link be the jenkins link i.e. `https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_sanity.system_x86-64_mac/84/` or should it be the TRSS test link? i.e. `https://trss.adoptium.net/output/test?id=622ff1b557fa857008d499db`

[2022-03-23 22:54] smlambert commented on #632
My opinion is it is the 2nd link (TRSS link which is longer lasting typically 30 days), as the 1st one (Jenkins link disappears within days).

[2022-03-23 22:58] llxia commented on #632
TRSS test output link. We already have the Jenkins link at the test job level.

[2022-03-25 04:41] tommytwm commented on #631
For this issue, it's adding a rerun in Grinder link for each parent test. Is this correct?